td {
  font-size: 1vw;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.informers1 {
  position: relative;
  width: 15vw;
  font-family: 'Geometria', sans-serif;
  text-align: center;
  color: #ffffff;
  border-spacing: 0px;
  background-color: #ffffff;
  border: 10px solid #2A88CD;
  padding: 2px;
  margin: 0 auto;
  z-index: 100;
}

tr:nth-child(2) .td-blue {
  position: absolute;
  top: 16px;
  left: 2px;
  width: calc(100% - 14px);
  height: calc(100% - 18px);
  background-color: #7bb3dc;
  border: 5px solid #2A88CD;
  border-top: 0;
  border-bottom: 0;
  padding: 0;
  margin: 0;
  z-index: -1;
}

.td-blue {
  background-color: #7bb3dc;
  border-right: 5px solid #2A88CD;
  border-left: 5px solid #2A88CD;
  padding: 10px;
}

tr:first-child .td-blue {
  background-color: #ABCDE5;
  border: 5px solid #2A88CD;
  border-top: 5px solid #2A88CD;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  padding: 20px;
}

tr:nth-child(17) .td-blue {
  border: 5px solid #2A88CD;
  border-top: none;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  padding: 20px;
}

tr:nth-child(20) .td-blue {
  border-bottom: 5px solid #2A88CD;
}

tr:nth-child(23) .td-blue {
  border-bottom: 5px solid #2A88CD;
}

tr:last-child .td-blue {
  border-bottom: 5px solid #2A88CD;
}

.temperature {
  font-size: 3vw;
}

.td-icons {
  padding-bottom: 0;
}

.td-text {
  padding-bottom: 20px;
  padding-top: 5px;
}

/* @media (min-width: ) {
  пропишу медиа запросы в зависмости от ширины экрана, чтобы не было слишком мелко на маленьком экране и не слишком крупно на большом экране, и также еще нужно доработать размеры и толщину шрифтов. Еще попробую применить БЭМ.
} */