:root {
  --dark-blue: #2A88CD;
  --light-blue: #7bb3dc;
  --light-blue-2: #ABCDE5;
  --white: #ffffff;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.tinformer7-table-box {
  position: relative;
  width: 90vw;
  margin: 0 auto;
}

.informer7-blue__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 90vw;
  background-color: var(--dark-blue);
  padding: 2%;
  margin: 0 auto;
  z-index: 2;
}

.informer7-blue {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 90vw;
  font-family: 'Geometria-Medium', Arial, Helvetica;
  text-align: center;
  color: var(--white);
  border-spacing: 0px;
  background-color: transparent;
  border: 2px solid var(--white);
  padding: 0;
  margin: 0 auto;
  z-index: 3;
}

.informer7-blue__background-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 89vw;
  height: 100%;
  background-color: var(--dark-blue);
  z-index: -1;
}


.informer7-blue__td {
  background-color: transparent;
  width: 15%;
}

.informer7-blue__tr .informer7-blue__td {
  background-color: var(--light-blue);
}

.informer7-blue__tr:nth-child(1) .informer7-blue__td:nth-child(1) {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top: 5px solid var(--dark-blue);
  border-bottom: 5px solid var(--dark-blue);
  border-left: 5px solid var(--dark-blue);

}

.informer7-blue__tr:nth-child(1) .informer7-blue__td:nth-child(2) {
  border-top: 5px solid var(--dark-blue);
  border-bottom: 5px solid var(--dark-blue);
}

.informer7-blue__tr:nth-child(1) .informer7-blue__td:nth-child(3) {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-right: 5px solid var(--dark-blue);
  border-top: 5px solid var(--dark-blue);
  border-bottom: 5px solid var(--dark-blue);
}

.informer7-blue__tr:nth-child(1) .informer7-blue__td:nth-child(4) {
  border-radius: 20%;
  border-top: 5px solid var(--dark-blue);
  border-bottom: 5px solid var(--dark-blue);
}

.informer7-blue__tr:nth-child(1) .informer7-blue__td:nth-child(5) {
  border-radius: 20%;
  border-top: 5px solid var(--dark-blue);
  border-bottom: 5px solid var(--dark-blue);
}

.informer7-blue__tr:nth-child(1) .informer7-blue__td:nth-child(6) {
  border-radius: 20%;
  border-top: 5px solid var(--dark-blue);
  border-bottom: 5px solid var(--dark-blue);
  border-right: 5px solid var(--dark-blue);
  text-align: center;
}

.informer7-blue__td-flexbox-small {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2%;
}

.informer7-blue__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;

}

.informer7-blue__td-flexbox-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informer7-blue__box-small-icons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 10%;
  fill: var(--white);
  padding-right: 2%;
}

.informer7-blue__box-middle-icons {
  width: 35%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.informer7-blue__box-big-icons {
  width: 75%;
  margin: 0 auto;
  margin-top: 2%;
}

.informer7-blue__text-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  white-space: pre-line;
  vertical-align: middle;
  line-height: 110%;
}

.informer7-blue__number-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
  line-height: 110%;
}


.informer7-blue__text-small {
  font-size: 1vw;
  text-align: left;
}

.informer7-blue__number-small {
  font-size: 1vw;
  text-align: left;
}

.informer7-blue__text-middle {
  font-size: 2vw;
  text-transform: uppercase;
}

.informer7-blue__number-middle {
  font-size: 2vw;
}

.informer7-blue__number-big {
  font-family: "Play", Arial, Helvetica;
  font-size: 4vw;
}

.informer7-blue__number-big-1 {
  font-family: "Play", Arial, Helvetica;
  font-size: 5vw;
}

.informer7-blue__number-big-2 {
  font-family: "Play", Arial, Helvetica;
  font-size: 3vw;
  padding-bottom: 3%;
}

.informer7-blue__tr:nth-child(1) .informer7-blue__td:nth-child(1) .informer7-blue__td-flexbox-big .informer7-blue__text-middle:nth-child(1) {
  font-family: "Geometria-Light", Arial, Helvetica;
}

.informer7-blue__td-flexbox-big .informer7-blue__text-middle,
.informer7-blue__td-flexbox-big .informer7-blue__number-big,
.informer7-blue__td-flexbox-big .informer7-blue__number-big-1,
.informer7-blue__td-flexbox-big .informer7-blue__number-big-2 {
  line-height: 100%;
}

.informer7-blue__td-flexbox-big .informer7-blue__number-big {
  padding-bottom: 3%;
}

.informer7-blue__td-flexbox-big .informer7-blue__text-middle {
  padding-top: 3%;

}



/* @media (min-width: 120px) and (max-width: 319px) {

}

@media (min-width: 319px) and (max-width: 480px) {

}

@media (min-width: 480px) and (max-width: 768px) {

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1200px) {

}

@media (min-width: 1200px) and (max-width: 1900px) {

}

@media (min-width: 1900px) and (max-width: 2500px) {

} */