:root {
  --dark-blue: #2A88CD;
  --light-blue: #7bb3dc;
  --light-blue-2: #ABCDE5;
  --white: #ffffff;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
}



h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.informer2-blue__td {
  width: 20%;
  line-height: 14%;
  font-size: 1vw;
  padding-left: 2%;
  padding-right: 2%;
}

.informer2-blue__tr {
  line-height: 30%;
}

.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(1),
.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(3){
  width: 26.6%;
}

.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(2),
.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(3),
.informer2-blue__tr:nth-child(6) .informer2-blue__td:nth-child(2),
.informer2-blue__tr:nth-child(6) .informer2-blue__td:nth-child(3) {
  width: 26.6%;
}


.informer2-table-box {
  position: relative;
  width: 60vw;
  margin: 0 auto;
}

.informer2-blue__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 60vw;
  background-color: var(--dark-blue);
  padding: 2%;
  margin: 0 auto;
  z-index: 1;
}

.informer2-blue {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100%;
  font-family: 'Geometria', sans-serif;
  text-align: center;
  color: var(--white);
  white-space: pre-wrap;
  border-spacing: 0px;
  background-color: transparent;
  border: 2px solid var(--white);
  margin: 0 auto;
  z-index: 100;
}

.informer2-blue__background-1 {
  position: absolute;
  top: 16%;
  left: 46%;
  width: 54%;
  height: 76%;
  background-image: url(./img/main-information-1-inside.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  z-index: 4;
}

.informer2-blue__background-2 {
  position: absolute;
  top: 11%;
  left: 43%;
  width: 57%;
  height: 86%;
  background-image: url(./img/main-information-1-inside.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  z-index: 3;
}

.informer2-blue__background-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  z-index: -1;
}

.informer2-blue__background-4 {
  position: absolute;
  top: 7%;
  left: 39%;
  width: 61%;
  height: 93%;
  background-image: url(./img/main-information-inside-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}


.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(1),
.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(2),
.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(3) {
  background-color: var(--dark-blue);
}

.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__box-small-icons {
  width: 30%;
}

.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(2) .informer2-blue__td-flexbox-middle .informer2-blue__box-small-icons {
  width: 10%;
}


.informer2-blue__text-small {
  font-size: 120%;
  text-align: left;
  padding-left: 5%;
}

.informer2-blue__text-middle {
  font-size: 170%;
  padding-left: 2%;
  white-space: nowrap;
}

.informer2-blue__text-big {
  font-size: 200%;
  text-align: left;
}

.informer2__number-font {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
  line-height: 90%;
}


.informer2-blue__text-big .informer2__number-font {
  font-size: 150%;
}

.informer2__text-font {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Geometria-Light", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
  line-height: 85%;
}

.informer2-blue__box-small-icons {
  width: 10%;
}

.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(2) .informer2-blue__box-small-icons {
  width: 10%;
}

.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(2) {
  width: 20%;
  padding: 0;
}


.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(3) {
  width: 50%;
  padding: 0;
}

.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(2) .informer2-blue__td-flexbox-small:nth-child(2) .informer2-blue__box-small-icons {
  width: 3%;
}

.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(2) .informer2-blue__td-flexbox-small:nth-child(3) .informer2-blue__box-small-icons {
  width: 5%;
}

.informer2-blue__tr:nth-child(7) .informer2-blue__td:nth-child(2) {
  text-align: right;
}

.informer2-blue__tr:nth-child(2) .informer2-blue__td:nth-child(2) {
  text-align: right;
}

.informer2-blue__tr:nth-child(3) .informer2-blue__td:nth-child(3) .informer2-blue__td-flexbox-big .informer2-blue__box-small-icons {
  margin-right: 20%;
  padding: 5%;
}

.informer2-blue__tr:nth-child(2) .informer2-blue__td:nth-child(2) .informer2-blue__text-middle .informer2__number-font {
  text-align: right;
}

.informer2-blue__tr:nth-child(2) .informer2-blue__td:nth-child(2) .informer2-blue__text-big .informer2__text-font {
  text-align: right;
}

.informer2-blue__tr:nth-child(2) .informer2-blue__td:nth-child(2) .informer2-blue__text-small
.informer2__text-font {
  text-align: right;
}

.informer2-blue__tr:nth-child(2) .informer2-blue__td:nth-child(1),
.informer2-blue__tr:nth-child(3) .informer2-blue__td:nth-child(1),
.informer2-blue__tr:nth-child(4) .informer2-blue__td:nth-child(1),
.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(1),
.informer2-blue__tr:nth-child(6) .informer2-blue__td:nth-child(1),
.informer2-blue__tr:nth-child(7) .informer2-blue__td:nth-child(1) {
  width: 60%;
  border-bottom: 3px solid var(--dark-blue);
}


.informer2-blue__tr:nth-child(7) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle {
  width: 100%;
  flex-grow: 3;
} 

.informer2-blue__tr:nth-child(7) .informer2-blue__td:nth-child(1) {
  border-bottom: none;
}

.informer2-blue__tr:nth-child(7) .informer2-blue__td:nth-child(2) .informer2-blue__text-small {
  text-align: right;
  line-height: 100%;
  vertical-align: bottom;
}

.informer2-blue__tr:nth-child(7) .informer2-blue__td:last-child .informer2-blue__text-small .informer2__number-font {
  text-align: right;
  text-align: right;
  line-height: 100%;
  vertical-align: bottom;
}

.informer2-blue__tr:nth-child(7) .informer2-blue__td:last-child .informer2-blue__text-small .informer2__text-font {
  text-align: right;
}

.informer2-blue__tr:nth-child(3) .informer2-blue__td:nth-child(2) .informer2-blue__text-big .informer2__number-font {
  font-size: 250%;
  vertical-align: middle;
  line-height: 0%;
  text-align: center;
}

.informer2-blue__tr:nth-child(3) .informer2-blue__td:nth-child(2) {
  width: 20%;
}
.informer2-blue__tr:nth-child(3) .informer2-blue__td:nth-child(3) {
  width: 50%;
  padding: 0;
}

.informer2-blue__tr:nth-child(3) .informer2-blue__td:nth-child(2) {
  vertical-align: middle;
  line-height: 0%;
  text-align: left;
  padding: 0;
}

.informer2-blue__box-middle-icons {
  max-width: 50%;
  margin: 0;
}

.informer2-blue__box-big-icons {
  width: 90%;
  margin: 0 auto;
}

.informer2-blue__box-middle-icons-img {
  display: block;
  margin: 0 auto; 
}

.informer2-blue__td-flexbox-small {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 2%;
}

.informer2-blue__td-flexbox-middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.informer2-blue__td-flexbox-middle .informer2-blue__text-big {
  font-size: 200%;
}

.informer2-blue__td-flexbox-middle .informer2-blue__text-small {
  display: flex;
}

.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle,
.informer2-blue__tr:first-child .informer2-blue__td:nth-child(2) .informer2-blue__td-flexbox-middle {
  align-items: flex-end;
}

.informer2-blue__tr:nth-child(1) .informer2-blue__td:nth-child(1),
.informer2-blue__tr:first-child .informer2-blue__td:nth-child(2) {
  padding-bottom: 2%;
}





.informer2-blue__td-flexbox-big {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.informer2-blue__td-flexbox-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.informer2-blue__tr:nth-child(2) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-big .informer2__number-font {
  text-align: right;
}
.informer2-blue__tr:nth-child(3) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-big .informer2__number-font {
  text-align: center;
}
.informer2-blue__tr:nth-child(4) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-big .informer2__number-font {
  padding-left: 12%;
}
.informer2-blue__tr:nth-child(5) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-big .informer2__number-font {
  padding-left: 12%;
}
.informer2-blue__tr:nth-child(6) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-big .informer2__number-font {
  text-align: center;
}
.informer2-blue__tr:nth-child(7) .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-big .informer2__number-font {
  text-align: right;
}

.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-small .informer2__text-font,
.informer2-blue__tr .informer2-blue__td:nth-child(2) .informer2-blue__td-flexbox-middle .informer2-blue__text-small .informer2__text-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__text-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__text-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__text-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__text-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__text-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__text-font {
  width: auto;
}

.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-small .informer2__number-font,
.informer2-blue__tr .informer2-blue__td:nth-child(2) .informer2-blue__td-flexbox-middle .informer2-blue__text-small .informer2__number-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__number-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__number-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__number-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__number-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__number-font,
.informer2-blue__tr .informer2-blue__td:nth-child(1) .informer2-blue__td-flexbox-middle .informer2-blue__text-middle .informer2__number-font {
  width: auto;
}

