@import url("fonts/geometria/stylesheet.css");

body {
    font-family: 'Geometria';
    margin: 0;
    padding: 0;
    
}

.view-2-classic {
    width: 925px;
    height: 630px;
    background: #2A88CD;
    display: flex;
    justify-content: center;
}

.view-2-classic-content {
    box-sizing: border-box;
    width: 900px;
    height: 600px;
    border: 5px solid #8FBFE1;
    margin: 15px;
}

.view-2-classic-sunrise-sunset-time {
    margin-top: 9px;
    box-sizing: border-box;
    margin-left: 32px;
    width: 470px;
    display: flex;
    justify-content: space-between;
}

.view-2-classic-sunrisetime {
    padding-left: 42.15px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-image: url("icons/sunrise.svg");
    background-position: left center;
    background-size: 31.03px 42.15px;
    background-repeat: no-repeat;

    }

.view-2-classic-sunsettime {
    
    padding-left: 42.15px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-image: url("icons/sunset.svg");
    background-position: left center;
    background-size: 31.03px 42.15px;
    background-repeat: no-repeat;
}

.time {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    
}

.view-2-classic-content-dayofweek {
    margin-top: -37px;
    margin-left: 647px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    

}

.view-2-classic-daysweek-1 {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 507px;
    justify-content: space-between;
    margin-left: -12px;
    margin-top: 12px;
}

.view-2-classic-monday-1 {
    width: 470px;
    height: 80px;
    background-image: url("img/monday.svg");

    
}

.view-2-classic-tuesday-1 {
    background-image: url("img/Tuesday.svg");
    width: 360px;
    height: 80px;
}


.view-2-classic-wednesday-1 {
    background-image: url("img/Wednesday.svg");
    width: 315px;
    height: 80px;
}

.view-2-classic-thursday-1 {
    background-image: url("img/Thursday.svg");
    width: 315px;
    height: 80px;

}

.view-2-classic-friday-1 {
    background-image: url("img/Friday.svg");
    width: 360px;
    height: 80px;

}

.view-2-classic-saturday-1 {
    background-image: url("img/Saturday.svg");
    width: 470px;
    height: 80px;

}

.main-information-1 {
    width: 505px;
    height: 505px;
    background-image: url("img/main-information-1.svg");
    margin-left: 325px;
    margin-top: -515px;
    z-index: 1;
    position: relative;

}


.view-2-classic-weekday {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 16px;
    color: #FFFFFF;

}

.view-2-classic-daynumber {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    color: #FFFFFF;

}

.view-2-classic-dayimage {
    margin-left: 115px;
    margin-top: -55px;
}

.view-2-classic-temp {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.view-2-classic-temp-mon {
    margin-top: -65px;
    margin-left: 250px;
}

.view-2-classic-temp-tue {
    margin-top: -55px;
    margin-left: 210px;
}

.view-2-classic-temp-wed {
    margin-top: -65px;
    margin-left: 195px;
}

.view-2-classic-temp-thu {
    margin-top: -50px;
    margin-left: 190px;
}

.view-2-classic-temp-fri {
    margin-top: -65px;
    margin-left: 210px;
}

.view-2-classic-temp-sat {
    margin-top: -75px;
    margin-left: 240px;
}

.view-2-classic-timegmt {
   
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 275px;
    margin-top: 8px;
    margin-bottom: 1px;

}

.view-2-classic-gmt {
  
    margin-left: 375px;
    margin-top: -39px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 0;
}

.main-information-inside {
    position: absolute;
    width: 460px;
    height: 420px;
    background-image: url("img/main-information-1-inside.svg");
    margin-left: 45px;
    z-index: 2;
}

.view-2-classic-population {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 428px;
    margin-right: 30px;
    text-align: right;
    color: #FFFFFF;
}

.view-2-classic-monday-2 {
    width: 470px;
    height: 80px;
    background-image: url("img/Monday-2.png");
    background-repeat: no-repeat;

    
}

.view-2-classic-tuesday-2 {
    background-image: url("img/Tuesday-2.png");
    width: 360px;
    height: 80px;
    background-repeat: no-repeat;
}


.view-2-classic-wednesday-2 {
    background-image: url("img/Wednesday-2.png");
    width: 315px;
    height: 80px;
    background-repeat: no-repeat;
}

.view-2-classic-thursday-2 {
    background-image: url("img/Thursday-2.png");
    width: 315px;
    height: 80px;
    background-repeat: no-repeat;

}

.view-2-classic-friday-2 {
    background-image: url("img/Friday-2.png");
    width: 360px;
    height: 80px;
    background-repeat: no-repeat;

}

.view-2-classic-saturday-2 {
    background-image: url("img/Saturday-2.png");
    width: 470px;
    height: 80px;
    background-repeat: no-repeat;

}

.main-information-inside-2 {
    position: absolute;
    width: 460px;
    height: 420px;
    background-image: url("img/inside-2.png");
    margin-left: 45px;
    /* margin-top: 45px; */
    background-repeat: no-repeat;
    z-index: 2;
}

.view-2-classic-selectedcity {
    position: absolute;
    right: 0;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #FFFFFF;
    background-image: url("icons/place.svg");
    background-position: left center;
    background-size: 36px 26px;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-top: 20px;
    /* text-align: right; */
    padding-left: 38px;


}

.view-2-classic-selectedcountry {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 380px;
    margin-top: 65px;
    

    color: #FFFFFF;
}

.view-2-classic-selectedweather {
    width: 290px;
    height: 210px;
    background-image: url("img/main-info-icon.svg");
    /* background-size: 209.46px 289.84px; */
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 130px;
    margin-top: -10px;

}

.view-2-classic-selectedweather p {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    margin-top: -20px;
    margin-left: -50px;

    text-transform: uppercase;

    color: #FFFFFF;

}

.view-2-classic-params {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    
}

.view-2-classic-params ul {
    list-style-type: none;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;

}

.view-2-classic-typeofwind {
    background-image: url("icons/wind-route.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.view-2-classic-windspeed {
    background-image: url("icons/speed.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.view-2-classic-degrees {
    
    background-image: url("icons/grade.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.view-2-classic-wet {
    background-image: url("icons/wet.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.view-2-classic-pressure {
    background-image: url("icons/pressure.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.view-2-classic-dpf {
    background-image: url("icons/dpf.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}