:root {
  --dark-blue: #2A88CD;
  --light-blue: #7bb3dc;
  --light-blue-2: #ABCDE5;
  --white: #ffffff;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/geometria/Geometria-Bold.woff") format("woff");
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.informer5-table-box {
  position: relative;
  width: 38vw;
  margin: 0 auto;
}

.informer5-blue__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 38vw;
  background-color: var(--dark-blue);
  padding: 2%;
  margin: 0 auto;
  z-index: 2;
}

.informer5-blue {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 38vw;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  color: var(--white);
  border-spacing: 0px;
  background-color: transparent;
  border: 2px solid var(--white);
  padding: 2%;
  margin: 0 auto;
  z-index: 3;
}

.informer5-blue__td {
  width: 20%;
  font-size: 1vw;  
}

.informer5-blue__tr .informer5-blue__td {
  background-color: var(--light-blue-2);
  padding: 2%;
  border: 3px solid var(--dark-blue);
}

.informer5-blue__tr:nth-child(1) .informer5-blue__td:first-child,
.informer5-blue__tr:nth-child(2) .informer5-blue__td:first-child {
  border-top-left-radius: 20%;
}

.informer5-blue__tr:nth-child(1) .informer5-blue__td:last-child,
.informer5-blue__tr:nth-child(2) .informer5-blue__td:last-child {
  border-top-right-radius: 20%;
}

.informer5-blue__tr:nth-child(1) .informer5-blue__td:first-child,
.informer5-blue__tr:nth-child(2) .informer5-blue__td:first-child {
  border-bottom-left-radius: 20%;
}

.informer5-blue__tr:nth-child(1) .informer5-blue__td:last-child,
.informer5-blue__tr:nth-child(2) .informer5-blue__td:last-child {
  border-bottom-right-radius: 20%;
}

.informer5-blue__box-middle-icons {
  width: 40%;
  margin: 0 auto;
}

.informer5-blue__box-big-icons {
  width: 75%;
  margin: 0 auto;
}

.informer5-blue__text-middle {
  font-size: 220%;
  word-break: nowrap;
}

.informer5-blue__text-big {
  font-size: 130%;
  text-transform: uppercase;
}

.informer5-blue__tr:nth-child(1) .informer5-blue__td:nth-child(1) .informer5__number-font-time {
  font-size: 200%;
  font-family: "Play", Arial, Helvetica;
}

.informer5-blue__text-small {
  font-family: "Geometria-Light", Arial, Helvetica;
  font-size: 100%;
}

.informer5__number-font {
  font-family: "Play", Arial, Helvetica;
}