:root {
  --dark-blue: #2A88CD;
  --light-blue: #7bb3dc;
  --light-blue-2: #ABCDE5;
  --white: #ffffff;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/geometria/Geometria-Light.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/geometria/Geometria-Bold.woff") format("woff");
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.informer6-table-box {
  position: relative;
  width: 40vw;
  height: auto;
  margin: 0 auto;
}

.informer6-blue__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background-color: var(--dark-blue);
  border: 5px solid var(--white);
  z-index: 2;
}

.informer6-blue {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 40vw;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  color: var(--white);
  border-spacing: 0px;
  background-color: transparent;
  margin: 0 auto;
  z-index: 3;
}

.informer6-blue__background-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  height: 40vw;
  background-color: transparent;
  border-radius: 50%;
  background-image: url("./icons/hours.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.informer6-blue__td {
  font-size: 1vw;
}

.informer6-blue__header-temperature {
  font-size: 80%;
}

.informer6-blue__box-small-icons {
  width: 10%;
}

.informer6-blue__tr:nth-child(1) .informer6-blue__td:nth-child(1) {
  padding-top: 15%;
  word-break: break-word;
}

.informer6-blue__tr:nth-child(2) .informer6-blue__td:nth-child(1) {
  padding-top: 20%;
}

.informer6-blue__tr:nth-child(3) .informer6-blue__td:nth-child(1) {
  padding-top: 0;
}

.informer6-blue__box-middle-icons {
  width: 30%;
  margin: 0 auto;
}

.informer6-blue__text-temp {
  font-size: 475%;
}

.informer6-blue__text-day-week {
  font-size: 200%;
}

.informer6-blue__text-day {
  font-size: 200%;
}

.informer6__number-font {
  font-family: "Play", Arial, Helvetica;
}

.informer6__text-font-light {
  font-family: "Geometria-Light", Arial, Helvetica;
}


/* Custom js clock */
#clock {
  position: absolute;
  left: 35%;
  top: 9%;
  list-style: none;
}
#sec, #min, #hour {
  position: absolute;
  width: 30px;
  height: 600px;
  top: 0px;
  left: 285px;
}
#sec {
  background: url(img/sechand.png);
  z-index: 300;
}
#min {
  background: url(img/minhand.png);
  z-index: 200;
}
#hour {
  background: url(img/hourhand.png);
  z-index: 100;
}