@import url("fonts/geometria/stylesheet.css");

body {
    font-family: 'Geometria';
    margin: 0;
    padding: 0;
    
}

.view-8-classic {
    width: 1280px;
    height: 272px;
    background: #2A88CD;
    box-sizing: border-box;
    padding-top: 3px;
}

.view-8-classic-content {
    position: relative;
    box-sizing: border-box;
    width: 1259px;
    height: 249px;
    border: 2px solid #FFFFFF;
    margin: 13px;
    padding: 15px;
}


.view-8-classic-right {
    position: absolute;
    box-sizing: content-box;
    border: #2A88CD solid 10px;
    width: 265px;
    height: 221px;
    border-radius: 0px 69px 69px 0px;
    background-color: #7FB8E1;
    /* margin-top: -4px; */
    z-index: 150;
    bottom: 1%;
    display: flex;
    margin-left: -10px;
}

.view-8-classic-right-light {
    background-image: url("img/right-light.png");
    background-repeat: no-repeat;
    background-position: cover;
}

.view-8-classic-right-dark {
    background-image: url("img/right-dark.png");
    /* background-repeat: no-repeat; */
    background-position: cover;
}

.view-8-classic-city-day {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   
    margin-left: -10px;
}

.view-8-classic-city-right {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;

}

.view-8-classic-city-time {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 79px;
  
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;

    color: #FFFFFF;
}

.view-8-classic-weekday {
    
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;

}



.view-8-classic-main {
    position: absolute;
    box-sizing: content-box;
    border: #2A88CD solid 10px;
    width: 549px;
    height: 221px;
    border-radius: 0px 69px 69px 0px;
    background-color: #7FB8E1;
    /* margin-top: -4px; */
    z-index: 100;
    bottom: 1%;
    display: flex;
    left: 19%;
}

.view-8-classic-main-light {
    background-image: url("img/main-8.png");
    background-repeat: no-repeat;
    background-position: cover;
}

.view-8-classic-main-dark {
    background-image: url("img/view-7-dark.png");
    /* background-repeat: no-repeat; */
    background-position: cover;
}

.view-8-classic-time-temp {
    list-style-type: none;
    margin-left: 5px;
}


.view-8-classic-temp-cels {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    
    margin-top: 20px;
    color: #FFFFFF;

}

.view-8-classic-temp-far {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.view-8-classic-daytime-info {
    list-style-type: none;
    margin-left: -20px;
}

.view-8-classic-daytime-name{
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

    margin-top: 20px;

    
}

.view-8-classic-daytime-icon {
    /*background-image: url("icons/night-cloud.svg");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 127.24px;
    height: 96px;
}

.view-8-classic-daytime-icon img {
    width: 127.24px;
    height: 96px;
}

.view-8-classic-city-params {
    list-style-type: none;
    margin-left: -20px;
}


.view-8-classic-city-type {
    background-image: url("icons/place.svg");
    background-position: left center;
    background-size: 36px 26px;
    background-repeat: no-repeat;
    margin-left: -10px;
}


.view-8-classic-city {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    margin-left: 30px;
   
}

.view-8-classic-type {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: -25px;
    margin-left: 30px;

}

.view-8-classic-wind {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-top: -15px;
    color: #FFFFFF;
    background-image: url("icons/wind-route-3.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;

}
.view-8-classic-degrees {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    background-image: url("icons/grade.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    }

.view-8-classic-wet {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    background-image: url("icons/wet-3.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
 }

.view-8-classic-pressure {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    background-image: url("icons/pressure-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    }


.view-8-classic-dpf {
font-family: 'Aldrich';
        font-style: normal;
   font-weight: 400;
        font-size: 17px;
        color: #FFFFFF;
        background-image: url("icons/dpf-2.svg");
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 20px;
}



.view-8-classic-info-top {
    position: absolute;
    width: 751px;
    height: 70px;
    background-color: #7FB8E1;
    border-radius: 0px 60px 0px 0px;
    right: 1%;
    z-index: 8;
}

.view-8-classic-info-middle {
    position: absolute;
    width: 751px;
    height: 70px;
    background-color: #7FB8E1;
    margin-left: 562px;
    top: 37%;
    right: 1%;
    z-index: 8;
}

.view-8-classic-info-bottom {
    position: absolute;
    width: 751px;
    height: 71px;
    background-color: #7FB8E1;
    margin-left: 562px;
    border-radius: 0px 0px 60px 0px;
    top: 68%;
    right: 1%;
    z-index: 8;
}

.view-8-classic-daytime-next {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 250px;

}

.view-8-classic-next-temp {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;

}

.view-8-classic-morning {
    /*background-image: url("icons/one-cloud-3.svg");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 86.74px;
    height: 56.42px;
    margin-left: 67px;
}

.view-8-classic-day {
    /*background-image: url("icons/sun.svg");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 86.74px;
    height: 56.42px;
    margin-left: 67px;
}

.view-8-classic-evening {
    /*background-image: url("icons/two-clouds.svg");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 73px;
    height: 62px;
    margin-left: 67px;
}

.view-8-classic-morning img,
.view-8-classic-day img,
.view-8-classic-evening img {
    width: 73px;
    height: 62px;
}


.view-8-classic-info-top, .view-8-classic-info-bottom, .view-8-classic-info-middle {
    align-items: center;
    display: flex;
    justify-content: center;
}

.view-8-classic-info-top, .view-8-classic-info-bottom, .view-8-classic-info-middle, .view-8-classic-next-temp {
    margin-left: 30px;
}


