/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --dark-blue: #2A88CD;
  --light-blue: #7bb3dc;
  --light-blue-2: #ABCDE5;
  --white: #ffffff;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/geometria/Geometria-Light.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/geometria/Geometria-Bold.woff") format("woff");
}
.hidden {
  display: none;
}

body {
  font-family: "Geometria-Medium", Arial, Helvetica;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.informer6-table-box {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.informer6-blue__background {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vw;
  max-height: 100vw;

  box-sizing: border-box;
  border-radius: 50%;
  background-color: var(--dark-blue);
  border: 5px solid var(--white);
  z-index: 1;
}

.informer6-blue__background-1 {
  display: block;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100vw;
  max-width: 100%;
  height: 100vw;
  max-height: 100vw;
  box-sizing: border-box;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  border: 5px solid var(--white);
  z-index: 2;
}


.informer6-blue__background-2 {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-color: transparent;
  background-image: url(./icons/hours.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 3;

}

.informer6-blue__background-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vw;
  z-index: 4;
}

.informer6-blue {
  table-layout: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  color: var(--white);
  border-spacing: 0px;
  background-color: transparent;
  padding: 0;
  margin: 0 auto;
  z-index: 5;
}

.informer6-blue__td {
  font-size: 1vw;
}

.informer6-blue__header-temperature {
  font-size: 80%;
}


.informer6-blue__tr:nth-child(1) .informer6-blue__td:nth-child(1) .informer6-blue__box-small-icons {
  width: 13%;
  height: 13%;
  margin: 0 auto;
  padding-top: 14%;
}

.informer6-blue__tr:nth-child(2) .informer6-blue__td:nth-child(1) {
  padding-top: 33%;
}

.informer6-blue__box-small-icons {
  width: 20%;
  margin: 0 auto;
}

.informer6-blue__text-day-week {
  font-size: 200%;
}

.informer6-blue__text-day {
  font-size: 200%;
}

.informer6__number-font {
  font-family: "Play", Arial, Helvetica;
  font-size: 4vw;
  padding-top: 1%;
}

.informer6__text-font-light {
  font-family: "Geometria-Light", Arial, Helvetica;
}
.informer6__text-font {
  font-size: 5vw;
}

.informer6__number-font.temp {
  font-size: 10vw;
}

/* Custom js clock */
#clock {
  position: relative;
  width: 80vw;
  height: 75%;
  left: 0%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style: none;
  margin: 0 auto;
}
#sec, #min, #hour {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
}
#sec {
  background: url(img/sechand.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 300;
}
#min {
  background: url(img/minhand.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 200;
}
#hour {
  background: url(img/hourhand.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 100;
}