/* CSS Document */
* {
    font-family:Arial;
    font-size:14px;
    margin:auto;
}
#color_fon, #color_font, #font_tempo, #font_text {
    padding:5px;
    border-radius: 3px;
    border:solid 1px #666666;
    text-align: center;
}
h2 { font-size:16px; font-weight:bold;}
#fon_table {
    /*border:solid 1px #999999;
    background-color:rgba(132, 129, 129, 0.1);*/
    padding:10px;
    border-spacing:0px;
    width:100%
}
#fon_table td { padding:5px; font-size:180%; text-align:center;}

#fon_table h3 {
    font-size: 120%;
    font-weight: bold;
    border-bottom: solid 2px #999999;
    padding-bottom: 4px;}
.tempo { font-size:170%; font-weight:bold; margin:0px; padding:0px;}
.tempo span {font-size: 70%;}
.opis_img { font-size:80%;}
.compakt {
    border-spacing:0px;
    text-align: center;
    width: 100%;
    vertical-align: baseline;
    /*background-color:rgba(132, 129, 129, 0.1);*/
    padding: 10px;
}
h4 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #c40107;
    text-align: center;
}

.compakt td {
    padding:5px;
    vertical-align: top;
    font-size:180%;
}
.compakt h3 {
    font-size: 100%;
    font-weight: bold;
    line-height: 40px;
}
.tip {font-size:80%;}

.radio {
    vertical-align: top;
    width: 17px;
    height: 17px;
    margin: 0 3px 0 0;
}
.radio + label {
    cursor: pointer;
}
.radio:not(checked) {
    position: absolute;
    opacity: 0;
}
.radio:not(checked) + label {
    position: relative;
    padding: 0 0 0 35px;
}
.radio:not(checked) + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}
.radio:not(checked) + label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #c40107;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
    opacity: 0;
    transition: all .2s;
}
.knop {
    /*font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-top: 20px;*/
    font-size: 16px;
    padding-top: 15px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    margin-top: 20px;
    background-color: #c40107;
    color: white;
    border-radius: 8px;
    text-transform: uppercase;
}

.radio:checked + label:after {
    opacity: 1;
}
.radio:focus + label:before {
    box-shadow: 0 0 0 3px rgba(255,255,0,.5);
}
.otst {height: 50px;}
a.btn-default {color: #c40007;
    border-color: #c40007;
    border-radius: 3px;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    border: 1px solid;
    border-radius: 3px;
    padding: 8px 20px;
    color: #c40007;
    background-color: transparent;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 20px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: uppercase;}
a.btn-default:hover {
    color: #ffffff;
    background-color: #c40007;
    border-color: #c40007;}


.code_informer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 50px;
}

.code_informer p {
    font-family: Arial !important;
    font-size: 16px !important;
}

.wrapper {
    max-width: 70%;
    margin: 0 auto;
}
.wrapper h5 {
    font-size: 16px;
    font-weight: bold;
    color: #01c42f;
    text-align: center;
    margin-bottom: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1 0 0%;
}

.row .col {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(39,41,43,0.03);
    border: 1px solid rgba(39,41,43,0.1);
}

.wrap img {
    height: auto;
    display:block;
    margin:auto;
}

.wrap2 img {
    width: 90%;
    height: auto;
    padding: 10px;
}

/*.wrap {
    width: 480px;
    height: 360px;
    padding: 0;
    overflow: hidden;
}

.frame {
    width: 1280px;
    height: 786px;
    border: 0;

    -ms-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}*/

