body {
    font-family: 'Aldrich';
    margin: 0;
    padding: 0;
}

.view-1-neon-1 {
    
    height: 1520px;
    width: 270px;
    background-image: url("img/view-1-1.svg");
    background-repeat: no-repeat;
    padding-top: 24px;
}

.view-1-neon-2 {
    width: 387px;
    height: 1600px;
    background-image: url("img/view-1-2.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 124px;
    overflow: hidden;
}


.view-1-neon-city-day-info {
  
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #00FF19;
    margin: 0;
}

.view-1-neon-city-day-info-container {
    padding: 20px;
}



.view-1-neon-maincontent {
    width: 225px;
    height: 784px;
    margin-left: 22px;
    border-radius: 18px;
    background-image: url("img/view-1-bg-1.svg");
    
   
}



.view-1-neon-2 .view-1-neon-maincontent {
    margin-left: 80px;
    margin-top: 0px;
}


.view-1-neon-custom-1 {
    background-image: url("img/view-1-bg-2.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.view-1-neon-custom-2 {
    background-image: url("img/view-1-bg-3.svg");
    background-repeat: no-repeat;
    
}

.view-1-neon-custom-3 {
    background-image: url("img/view-1-bg-4.svg");
    background-repeat: no-repeat;
    
}

.view-1-neon-custom-4 {
    background-image: url("img/view-1-bg-5.svg");
    background-repeat: no-repeat;
    
}


.view-1-neon-morning {
 
    width: 225px;
    height: 247px;
    margin-top: 45px;

}

.view-1-neon-2 .view-1-neon-morning {
    margin-left: 65px;

    
}



.view-1-neon-day {
  
    width: 225px;
    height: 205px;
  
}

.view-1-neon-2 .view-1-neon-day {
    margin-left: 65px;
    
}

.view-1-neon-evening {
 
    width: 225px;
    height: 250px;
    
}

.view-1-neon-2 .view-1-neon-evening {
    margin-left: 65px;
    
}

.view-1-neon-weather {

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-top: 24px;

    text-align: center;

    color: #00FF19;

}

.view-1-neon-weather-time {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
   

    text-align: center;

    color: #00FF19;
}

.view-1-neon-weather-icon {
    /*background-image: url("icons/cloud-night-1.svg");*/
    background-size: 96px 127px;
    background-repeat: no-repeat;
    background-position: center;
    width: 127.24px;
    margin: 0 auto;
    height: 98px;
    text-align: center;
}

.view-1-neon-dergees-cels {
   
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;

    color: #00FF19;

}

.view-1-neon-dergees-far {
   
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: #00FF19;

}

.view-1-neon-typeofwind {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #00FF19;
    background-image: url("icons/wind-route-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
}

.view-1-neon-windspeed {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #00FF19;
    background-image: url("icons/windspeed-s-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 45px;
}

.view-1-neon-degrees {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #00FF19;
    background-image: url("icons/dpf-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 45px;
}

.view-1-neon-wet {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #00FF19;
    background-image: url("icons/wet-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 45px;
    margin-top: -10px;
}

.view-1-neon-pressure {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #00FF19;
    background-image: url("icons/pressure-1.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 45px;
    margin-top: -10px;
}

.view-1-neon-timeofday {
   
    font-style: normal;
    font-weight: 700;
    /*font-size: 25px;*/
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #00FF19;
}

.view-1-neon-morning .view-1-neon-timeofday {
    margin-left: 30px;
}

.view-1-neon-day .view-1-neon-timeofday {
    margin-top: -30px;
    margin-left: 30px;
}

.view-1-neon-morning .view-1-neon-timeofday {
    margin-left: 30px;
}

.view-1-neon-evening .view-1-neon-timeofday {
    margin-top:  5px;
    margin-left: 30px;
}

.view-1-neon-timeofday-icon img {
    min-width: 86px;
}

.view-1-neon-morning  .view-1-neon-timeofday-icon {
    /*background-image: url("icons/two-clouds-2.svg");*/
    width: 86.74px;
    height: 56.42px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    margin-left: 80px;
}

.view-1-neon-day .view-1-neon-timeofday-icon {
    /*background-image: url("icons/sun-2.svg");*/
    width: 86.74px;
    height: 56.42px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-left: 85px;
}

.view-1-neon-evening .view-1-neon-timeofday-icon {
    /*background-image: url("icons/two-clouds-1.svg");*/
    width: 86.74px;
    height: 80.42px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: -10px;
    margin-left: 85px;
}

.view-1-neon-temp {

    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
    margin-left: 30px;
    text-transform: uppercase;

    color: #00FF19;

}

.view-1-neon-morning .view-1-neon-temp {
    margin-top: -1px;
}


.shine-icons.view-1-neon-evening .view-1-neon-timeofday-icon {
    background-image: none;
}
.shine-icons.view-1-neon-evening .view-1-neon-timeofday-icon img {
    margin-left: -50px;
    margin-top: -30px;
}
.shine-icons.view-1-neon-day .view-1-neon-timeofday-icon {
    background-image: none;
}
.shine-icons.view-1-neon-day .view-1-neon-timeofday-icon img {
    margin-left: 10px;
    margin-top: -10px;
}
.shine-icons.view-1-neon-morning .view-1-neon-timeofday-icon {
    background-image: none;
}
.shine-icons.view-1-neon-morning .view-1-neon-timeofday-icon img {
    margin-left: -40px;
    margin-top: -30px;
}
.shine-icons .view-1-neon-weather-icon {
    background-image:none;
}
.shine-icons .view-1-neon-weather-icon img {
    margin-left: -60px;
    margin-top: -50px;
}

.shine-font {
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: #33E9C6 1px 0 10px;
}

