
body {
    font-family: 'Aldrich';
    margin: 0;
    padding: 0;
    
}

.view-9-neon-1 {
    width: 420px;
    height: 480px;
    background-image: url('img/view-9-1.svg');
    background-position: center;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 5px;


}


.view-9-neon-2 {
    width: 420px;
    height: 480px;
    border-radius: 35px;
    background-image: url('img/view-9-2.svg');
    background-position: center;
    box-sizing: border-box;
    padding: 5px;

}

.view-9-neon-3 {
    width: 420px;
    height: 480px;
    border-radius: 35px;
    background-image: url('img/view-9-3.svg');
    background-position: center;
    box-sizing: border-box;
    padding: 5px;

}


.view-9-neon-day-city {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 40px;
    
}

.view-9-neon-city {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #00FF19;

}

.view-9-neon-day {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #00FF19;
}

.view-9-neon-weekday-weather {
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: -35px;
}

.view-9-neon-weather, .view-9-neon-weekday {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #00FF19;

}

.view-9-neon-icon {
/*    background-image: url("icons/cloud-night-big.png");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 195px;
    height: 152.03px;
    margin-top: -50px;
    margin-left: 50px;
}

.view-9-neon-cels {

    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 44px;
    text-align: right;
    text-transform: uppercase;
    filter: blur(0.244444px);
    margin-top: -130px;
    margin-right: -10px;
}

.view-9-neon-far {

    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;

    text-align: right;
    text-transform: uppercase;
    margin-right: 15px;
    color: #00FF19;
    margin-top: -60px;
    margin-top: -100px;
}

.view-9-neon-weather-info {
    list-style-type: none;
    width: 310px;
    display: flex;
    justify-content: space-around;
    margin-top: -35px;
    margin-left: 5px;
}



.view-9-neon-weather-info li {
    width: 100.47px;
    height: 175px;
    background-color: #000000;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.left {
    border-radius: 15px 15px 0px 15px;
}

.middle {
    border-radius: 15px 15px 0px 0px;
}

.right {
    border-radius: 15px 15px 15px 0px;
}

.view-9-neon-weather-info-custom li {
    width: 100.47px;
    height: 175px;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.view-9-neon-time {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;

    text-align: center;
    text-transform: uppercase;

    color: #00FF19;
}

.view-9-neon-temp {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #00FF19;
}


.view-9-neon-cels {
    height: 210px;
}

.view-9-neon-far {
    position: relative;
    top: -60px;
    left: -30px;
}
.view-9-neon-cels {
    position: relative;
    top:  0px;
    left: -50px;
}
.view-9-neon-icon img {
    width: 195px;
    height: 120px;
}