:root {
  --dark-neon: #111111;
  --light-neon: #292929;
  --neon: #03ff17;
  --black: #111111;
  --white: #ffffff;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
}

body {
  font-family: Arial, Helvetica;
}

td {
  line-height: 30%;
  background-color: transparent;
  padding: 3%;
  font-size: 1vw;
}

tr {
  line-height: 50%;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.table-box {
  position: relative;
  width: 25vw;
  margin: 0 auto;
}

.informer1-neon__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 25vw;
  background-color: var(--white);
  margin: 0 auto;
  z-index: 2;
}

.informer1-neon {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100%;
  font-family: "Geometria-Medium", Helvetica;
  text-align: center;
  color: var(--neon);
  white-space: pre-wrap;
  border-spacing: 0px;
  background-color: transparent;
  padding: 15%;
  margin: 0 auto;
  z-index: 3;
}

.informer1-neon__background-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("./img/view-1-1.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}


.informer1-neon__tr:nth-child(1) .informer1-neon__td:nth-child(1) {
  padding-top: 10%;
}

.informer1-neon__tr:nth-child(5) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(6) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(7) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(8) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(9) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(10) .informer1-neon__td:nth-child(1) {
  padding: 0;
}

.informer1-neon__tr:nth-child(1) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(2) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(3) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(4) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(5) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(6) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(7) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(8) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(9) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(10) .informer1-neon__td:nth-child(1) {
  background-color: var(--black);
}

.informer1-neon__tr:nth-child(1) .informer1-neon__td:nth-child(1) {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;

}

.informer1-neon__tr:nth-child(10) .informer1-neon__td:nth-child(1) {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}



.informer1-neon__td-flexbox-small {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informer1-neon__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.informer1-neon__td-flexbox-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informer1__number-font {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Play", Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 110%;
}

.informer1__text-font {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Geometria", Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 110%;
}

.informer1__text-font-bold {
  font-family: "Geometria-bold", Arial, Helvetica, sans-serif;;
}

.informer1__text-font-light {
  font-family: "Geometria-Light", Arial, Helvetica, sans-serif;;
}


.informer1-neon__text-small {
  font-size: 130%;
}

.informer1-neon__text-middle {
  font-size: 250%;
}

.informer1-neon__text-big {
  font-size: 200%;
  line-height: 100%;
}

.informer1__temperature-big {
  font-size: 200%;
}

.informer1__temperature-middle {
  font-size: 140%;
}
.informer1-neon__tr:nth-child(11) .informer1-neon__td:nth-child(1) .informer1-neon__text-big,
.informer1-neon__tr:nth-child(12) .informer1-neon__td:nth-child(1) .informer1-neon__text-big,
.informer1-neon__tr:nth-child(13) .informer1-neon__td:nth-child(1) .informer1-neon__text-big {
  text-transform: uppercase;
}

.informer1-neon__tr:nth-child(4) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(5) .informer1-neon__td:nth-child(1) {
  padding: 0;
}

.informer1-neon__box-small-icons {
  width: 10%;
}

.informer1-neon__tr:nth-child(8) .informer1-neon__td:nth-child(1) .informer1-neon__td-flexbox-small .informer1-neon__box-small-icons {
  width: 9%;
}

.informer1-neon__tr:nth-child(9) .informer1-neon__td:nth-child(1) .informer1-neon__td-flexbox-small .informer1-neon__box-small-icons {
  width: 6%;
}

.informer1-neon__tr:nth-child(10) .informer1-neon__td:nth-child(1) .informer1-neon__td-flexbox-small .informer1-neon__box-small-icons {
  width: 3%;
}

.informer1-neon__box-middle-icons {
  width: 100%;
  margin: 0 auto;
}

.informer1-neon__box-big-icons {
  width: 90%;
  margin: 0 auto;
}

.informer1-neon__box-middle-icons-img {
  display: block;
  margin: 0 auto; 
}