:root {
  --neon: #03ff17;
  --white: #ffffff;
  --black: #111111;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/geometria/Geometria-Bold.woff") format("woff");
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.informer5-table-box {
  position: relative;
  width: 38vw;
  margin: 0 auto;
}

.informer5-neon__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 38vw;
  background-color: transparent;
  margin: 0 auto;
  z-index: 2;
}

.informer5-neon {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 38vw;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  color: var(--neon);
  word-wrap: break-word;
  border-spacing: 0px;
  background-color: transparent;
  padding: 2%;
  margin: 0 auto;
  z-index: 3;
}

.informer5-neon__background-1 {
  position: absolute;
  top: -6%;
  left: -23%;
  width: 145%;
  height: 106%;
  background-image: url(./img/view-5-1.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  padding-bottom: 0;
  z-index: -1;
}

.informer5-neon__td {
  width: 20%;
  font-size: 1vw;
}

.informer5-neon__tr .informer5-neon__td {
  background-color: var(--light-neon-2);
  padding: 5%;
  border: 3px solid var(--dark-neon);
}

.informer5-neon__tr:nth-child(1) .informer5-neon__td:first-child,
.informer5-neon__tr:nth-child(3) .informer5-neon__td:first-child {
  border-top-left-radius: 20%;
}

.informer5-neon__tr:nth-child(1) .informer5-neon__td:first-child {
  padding-right: 10%;
  padding-left: 3%;
}

.informer5-neon__tr:nth-child(1) .informer5-neon__td:nth-child(3) {
  padding-right: 2%;
  padding-left: 3%;
  padding-top: 2%;
}

.informer5-neon__tr:nth-child(3) .informer5-neon__td:first-child {
  padding-right: 2%;
  padding-left: 3%;
  padding-top: 2%;

}

.informer5-neon__tr:nth-child(3) .informer5-neon__td:nth-child(3) {
  padding-right: 2%;
  padding-left: 3%;
  padding-top: 2%;
}


.informer5-neon__tr:nth-child(1) .informer5-neon__td:last-child,
.informer5-neon__tr:nth-child(3) .informer5-neon__td:last-child {
  border-top-right-radius: 20%;
}

.informer5-neon__tr:nth-child(1) .informer5-neon__td:first-child,
.informer5-neon__tr:nth-child(3) .informer5-neon__td:first-child {
  border-bottom-left-radius: 20%;
}

.informer5-neon__tr:nth-child(1) .informer5-neon__td:last-child,
.informer5-neon__tr:nth-child(3) .informer5-neon__td:last-child {
  border-bottom-right-radius: 20%;
}

.informer5-neon__box-middle-icons {
  width: 40%;
  margin: 0 auto;
}

.informer5-neon__box-big-icons {
  width: 75%;
  margin: 0 auto;
}

.informer5-neon__text-middle {
  font-size: 220%;
  word-break: nowrap;
}

.informer5-neon__text-big {
  font-size: 130%;
  text-transform: uppercase;
}

.informer5-neon__tr:nth-child(1) .informer5-neon__td:nth-child(1) .informer5__number-font-time {
  font-size: 220%;
}

.informer5-neon__tr:nth-child(1) .informer5-neon__td:nth-child(3) .informer5__number-font-time {
  font-size: 220%;
}

.informer5-neon__tr:nth-child(2) .informer5-neon__td {
  padding: 2%;
  padding-left: 0;
  padding-right: 0;
}

.informer5-neon__tr:nth-child(1) .informer5-neon__td {
  padding-bottom: 0;
}



.informer5-neon__text-small {
  font-family: "Geometria-Light", Arial, Helvetica;
  font-size: 100%;
}

.informer5__number-font {
  font-family: "Play", Arial, Helvetica;
}

.informer5-neon__td-flexbox-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.informer5-neon__td-flexbox-small {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.informer5-neon__box-small-icons {
  width: 10%;
  margin-right: 2%;
  min-width: 10%;
  fill: var(--neon);
  padding-left: 1%;
}

.shine-neon {
  text-shadow: 0 1px 0 white, -1px -1px 0 white, 0 -1px 0 white, 1px 0 0 white, -1px 0 0 white, -1px 0 0 white, 0 0 18px #03ff17;
}
