body {
    font-family: 'Aldrich';
}

.view-7-neon-4 {
    width: 1380px;
    height: 375px;
    background-image: url("icons/view-8-1.svg");
    border-radius: 35px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 50px;
}

.view-7-neon-5 {

    width: 1380px;
    height: 375px;
    background-image: url("icons/view-8-2.svg");
    border-radius: 35px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 50px;
}

.view-7-neon-6 {
    width: 1380px;
    height: 375px;
    background-image: url("icons/view-8-3.svg");
    border-radius: 35px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 50px;
}


.view-7-neon-main-3 {
    position: relative;
    width: 576px;
    height: 199px;
    
    border-radius: 25px 0px 0px 25px;
    margin-top: 12px;
    margin-left: 17px;
    display: flex;
    justify-content: space-around;
}

.view-7-neon-time-temp {
    list-style-type: none;
    margin-left: -20px;
}

.view-7-neon-gmt {
 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #00FF19;
}

.view-7-neon-time {
   
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 25px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;
    color: #00FF19;
    margin-top: 10px;
}

.view-7-neon-temp-cels {
    
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    
    margin-top: 20px;
    color: #00FF19;

}

.view-7-neon-temp-far {
   
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;

    color: #00FF19;

}

.view-7-neon-daytime-info {
    list-style-type: none;
    margin-left: -20px;
   
}

.view-7-neon-daytime-name{
  
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;

    color: #00FF19;

    margin-top: 10px;
    margin-bottom: 20px;

    
}

.view-7-neon-daytime-icon {
/*    background-image: url("icons/cloud-night-shine.png");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 177.24px;
    height: 136px;
    margin-top: -35px;
}

.view-7-neon-daytime-icon img {
/*    width: 177.24px;
    height: 120px;*/

    width: 150px;
    height: 100px;
    margin-top: 25px;
    margin-left: 25px;
}

.view-7-neon-city-params {
    list-style-type: none;
    margin-left: -20px;
}


.view-7-neon-city {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #00FF19;
    margin-left: 30px;
}

.view-7-neon-type {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #00FF19;
    margin-top: -25px;
    margin-left: 30px;

}

.view-7-neon-wind {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    margin-top: -15px;
    color: #00FF19;
    background-image: url("icons/wind-route-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;

}
.view-7-neon-degrees {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #00FF19;
    background-image: url("icons/degree-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
    }

.view-7-neon-wet {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #00FF19;
    background-image: url("icons/wet-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
 }

.view-7-neon-pressure {
    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: #00FF19;
    background-image: url("icons/pressure-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.view-7-neon-dpf {
    font-family: 'Aldrich';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        color: #00FF19;
        background-image: url("icons/dpf-2.svg");
        background-position: left center;
        background-repeat: no-repeat;
        padding-left: 20px;
}

.view-7-neon-infobox {
    margin-left: 20px;
   
}

.view-7-neon-daytime-next {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-right: -50px;
    margin-left: 200px;
    color: #00FF19;

}

.view-7-neon-next-temp {
    font-weight: 400;
    font-size: 30px;
    line-height: 29px;
    text-align: right;
    text-transform: uppercase;
    color: #00FF19;
}

.view-7-neon-morning {
/*    background-image: url("icons/one-cloud-shine.png");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 106.74px;
    height: 76.42px;
    margin-left: 67px;
}

.view-7-neon-morning img {
    width: 106.74px;
    height: 76.42px;
}

.view-7-neon-day {
  /*  background-image: url("icons/sun-shine.svg");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 106.74px;
    height: 76.42px;
    margin-left: 67px;
}

.view-7-neon-day img {
    width: 106.74px;
    height: 76.42px;
}

.view-7-neon-evening {
/*    background-image: url("icons/two-clouds-3.png");*/
    background-repeat: no-repeat;
    background-position: center;
    width: 93px;
    height: 82px;
    margin-left: 67px;
}

.view-7-neon-evening img {
    width: 93px;
    height: 82px;
}


.view-7-neon-citytime {
/*    width: 474px;
    height: 29px;*/

    width: 100%;
    margin: 20px auto 0 auto;

    font-family: 'Aldrich';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
/*    margin-left: 400px;
    margin-top: 20px;*/
    color: #00FF19;
}


.view-7-neon-type-2 {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    color: #00FF19;
    margin-top: 0px;
}

.daytime-info-2 {
    margin-top: -10px;
}

.params-2 {
    padding-top: 50px;
}


.view-7-neon-infobox-4 {
    display: flex;
    width: 663px;
    align-items: center;
    margin-left: 562px;
    margin-top: -220px;
}

.view-7-neon-infobox-4 div {
    margin-left: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.next-4 {
    margin-left: -20px;
    margin-top: 30px;
}


.shine-font {
    -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow: #33E9C6 20px 0 20px;
}