:root {
  --neon: #03ff17;
  --white: #ffffff;
  --black: #111111;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
}

body {
  font-family: "Geometria-Medium", Arial, Helvetica;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.informer3-table-box {
  position: relative;
  width: 30vw;
  margin: 0 auto;
}

.informer3-neon__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 30vw;
  background-color: transparent;
  margin: 0 auto;
  z-index: 2;
}

.informer3-neon {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 30vw;
  font-family: 'Geometria-Medium', Arial, Helvetica;
  text-align: center;
  color: var(--neon);
  border-spacing: 0px;
  background-color: transparent;
  padding-top: 10%;
  margin: 0 auto;
  z-index: 3;
}

.informer3-neon__background-1 {
  position: absolute;
  top: -15%;
  left: -19%;
  width: 138%;
  height: 138%;
  background-image: url(./img/view-3-1.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.informer3-neon__td {
  background-color: transparent;
  padding: 6%;
  width: 6%;
  line-height: 20%;
  font-size: 1vw;
}

.informer3-neon__tr {
  line-height: 30%;
}

.informer3-neon__tr:first-child .informer3-neon__td:first-child {
  padding-left: 2%;
  padding-right: 0;
  padding-bottom: 4%;
}

.informer3-neon__tr:first-child .informer3-neon__td:nth-child(2) {
  padding: 2%;
  padding-left: 0;
  padding-right: 0;
}

.informer3-neon__tr:first-child .informer3-neon__td:nth-child(3)  {
  padding: 2%;
  padding-left: 0;
}

.informer3-neon__tr:first-child .informer3-neon__td:nth-child(3) .informer3-neon__text-big {
  text-align: center;
}


.informer3-neon__tr:first-child .informer3-neon__td:first-child .informer3-neon__text-middle {
  padding-bottom: 4%;
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td:nth-child(1),
.informer3-neon__tr:nth-child(4) .informer3-neon__td:nth-child(1),
.informer3-neon__tr:nth-child(5) .informer3-neon__td:nth-child(1) {
  padding-left: 5%;
  padding-right: 0;
  color: var(--black);
  padding-top: 4%;
  padding-bottom: 5%;
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td:nth-child(2),
.informer3-neon__tr:nth-child(4) .informer3-neon__td:nth-child(2),
.informer3-neon__tr:nth-child(5) .informer3-neon__td:nth-child(2) {
  padding-right: 0;
  padding-left: 0;
  padding-top: 4%;
  padding-bottom: 5%;
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td:nth-child(3),
.informer3-neon__tr:nth-child(4) .informer3-neon__td:nth-child(3),
.informer3-neon__tr:nth-child(5) .informer3-neon__td:nth-child(3) {
  padding-right: 5%;
  padding-left: 0;
  padding-top: 4%;
  padding-bottom: 5%;
} 

.informer3-neon__tr:nth-child(3)  {
  background: linear-gradient(to right,var(--neon), var(--black));
}

.informer3-neon__tr:nth-child(4) {
  background: linear-gradient(to right,var(--neon), var(--black));
}

.informer3-neon__tr:nth-child(5) {
  background: linear-gradient(to right,var(--neon), var(--black));
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td {
  border-top: 1px solid var(--neon);
  border-bottom: 1px solid var(--black);
}

.informer3-neon__tr:nth-child(4) .informer3-neon__td {
  border-top: 1px solid var(--neon);
  border-bottom: 1px solid var(--black);
}

.informer3-neon__tr:nth-child(5) .informer3-neon__td {
  border-top: 1px solid var(--neon);
  border-bottom: 1px solid var(--black);
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td:nth-child(1) {
  border-top-left-radius: 20%;
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td:nth-child(3) {
  border-top-right-radius: 20%;
}

.informer3-neon__tr:nth-child(2) .informer3-neon__td {
  font-size: 0.6vw;
  max-width: 20%;
  min-width: 20%;
  padding: 0;
  padding-bottom: 2%;
  padding-top: 2%;
}

.informer3-neon__tr:nth-child(2) .informer3-neon__td:first-child {
  padding-left: 2%;
}

.informer3-neon__tr:nth-child(2) .informer3-neon__td:last-child {
  padding-right: 2%;
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td:nth-child(1) .informer3-neon__text-big .informer3__number-font,
.informer3-neon__tr:nth-child(4) .informer3-neon__td:nth-child(1) .informer3-neon__text-big .informer3__number-font,
.informer3-neon__tr:nth-child(5) .informer3-neon__td:nth-child(1) .informer3-neon__text-big .informer3__number-font {
  font-size: 170%;
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td:nth-child(2) .informer3-neon__text-big .informer3__number-font,
.informer3-neon__tr:nth-child(4) .informer3-neon__td:nth-child(2) .informer3-neon__text-big .informer3__number-font,
.informer3-neon__tr:nth-child(5) .informer3-neon__td:nth-child(2) .informer3-neon__text-big .informer3__number-font {
  font-size: 170%;
  text-align: center;
}

.informer3-neon__tr:nth-child(3) .informer3-neon__td:nth-child(2) .informer3-neon__text-middle,
.informer3-neon__tr:nth-child(4) .informer3-neon__td:nth-child(2) .informer3-neon__text-middle,
.informer3-neon__tr:nth-child(5) .informer3-neon__td:nth-child(2) .informer3-neon__text-middle {
  text-align: center;
  font-size: 170%;
}

.informer3-neon__temperature {
  font-size: 210%;
}

.informer3-neon__text-middle .informer3__text-font {
  font-size: 170%;
  font-family: "Geometria-Light", Arial, Helvetica;
  padding-bottom: 4%;
}

.informer3-neon__text-big {
  white-space: pre-line;
  font-size: 135%;
  text-align: left;
}

.informer3-neon__text-big .informer3__text-font {
  text-transform: uppercase;
}

.informer3-neon__tr:first-child .informer3-neon__td:first-child .informer3-neon__text-big .informer3-neon__temperature {
  font-size: 170%;
  text-align: left;
}

.informer3__number-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
  line-height: 110%;
}

.informer3__text-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  vertical-align: middle;
  line-height: 110%;
}

.informer3-neon__text-middle {
  text-align: left;
}

.informer3-neon__text-small .informer3__text-font {
  font-family: "Geometria-Light", Arial, Helvetica;
  font-size: 120%;
  text-align: left;
  padding-left: 2%;
  white-space: pre-line;
}

.informer3-neon__text-big .informer3__text-font {
  text-transform: uppercase;
  text-align: left;
}

.informer3-neon__text-small {
  text-align: left;
}

.informer3__number-font-bold {
  font-family: "Play-Bold", Arial, Helvetica;
}

.informer3__number-font-bold {
  font-family: "Play-Bold", Arial, Helvetica;
}

.informer3-neon__td-icons {
  padding-bottom: 0;
}

.informer3-neon__box-small-icons {
  width: 30%;
  padding-right: 2%;
}

.informer3-neon__box-big-icons {
  width: 120%;
  margin: 0 auto;
}

.informer3-neon__box-middle-icons {
  width: 100%;
}

.informer3-neon__box-middle-icons-img {
  display: block;
  width: 75%;
  margin: 0 auto; 
}

.informer3-neon__td-flexbox-small {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.informer3-neon__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.informer3-neon__td-flexbox-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informer3-neon__td-flexbox-cell {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.informer3-neon__box-small-icons {
  width: 30%;
  min-width: 30%;
  fill: var(--neon);
}

.informer3-neon__tr:nth-child(2) .informer3-neon__td:nth-child(1) {
  padding-top: 0;
  padding-bottom: 3%;
}

.shine-neon {
  text-shadow: 0 1px 0 white, -1px -1px 0 white, 0 -1px 0 white, 1px 0 0 white, -1px 0 0 white, -1px 0 0 white, 0 0 18px #03ff17;
}


