:root {
  --dark-neon: #111111;
  --light-neon: #292929;
  --neon: #03ff17;
  --black: #111111;
  --white: #ffffff;
}


/* @font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
} */
/* 
@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
} */

.hidden {
  display: none;
}

body {
  font-family: "Geometria-Medium", Arial, Helvetica;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.table-box {
  width: 100%;
  margin: 0 auto;
}

.informer1-neon__background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vw; */
  background-color: transparent;
  z-index: 1;
}

.informer1-neon {
  table-layout: fixed;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  color: var(--neon);
  border-spacing: 0px;
  background-color: transparent;
  box-sizing: border-box;
  /* white-space: nowrap; */
  /* padding-left: 5%; */
  /* padding-right: 5%; */
  padding-top: 4%;
  z-index: 4;
}

.informer1-neon__background-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url(./img/view-1-1.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.informer1-neon__background-2 {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 54%;
  background-color: var(--black);
  background-position: top;
  box-sizing: border-box;
  border-radius: 10vw;
  /* border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw; */
  z-index: -1;
}

.informer1-neon__background-3 {
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  height: 54%;
  box-sizing: border-box;
  background-color: transparent;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  border-radius: 10vw;
  /* border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw; */
  z-index: -1;
}



.informer1-neon__tr {
  /* line-height: 30%; */
}

.informer1-neon__td {
  background-color: transparent;
  padding: 3%;
  font-size: 3.333vw;
  padding-bottom: 7%
}

.informer1-neon__tr:nth-child(1) .informer1-neon__td:nth-child(1) {
  padding-top: 7%;
}

.informer1-neon__tr:nth-child(2) .informer1-neon__td:nth-child(1) {
  padding-top: 0;
  padding-bottom: 0;
}


.informer1-neon__tr:nth-child(5) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(6) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(7) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(8) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(9) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(10) .informer1-neon__td:nth-child(1) {
  padding: 0;
}


.informer1-neon__td-flexbox-small {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
}

.informer1-neon__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
}

.informer1-neon__td-flexbox-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informer1__number-font {
  display: inline-block;
  width: auto;
  height: auto;
  font-family: "Play", Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 110%;
  padding-right: 1%;
}

.informer1__text-font {
  display: inline-block;
  width: auto;
  height: auto;
  font-family: "Geometria", Arial, Helvetica, sans-serif;
  text-align: center;
  vertical-align: middle;
  line-height: 90%;
  padding-right: 1%;
  padding-left: 2%;
}

.informer1__text-font-bold {
  font-family: "Geometria-bold", Arial, Helvetica, sans-serif;
  ;
}

.informer1__text-font-light {
  font-family: "Geometria-Light", Arial, Helvetica, sans-serif;
  ;
}


.informer1-neon__text-small {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 200%;
}

.informer1-neon__text-middle {
  font-size: 320%;
  padding-bottom: 2%;
}










.informer1-neon__text-big {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 250%;
  line-height: 45%;
  padding-bottom: 3%;
}

.informer1__temperature-big {
  font-size: 200%;
}

.informer1__temperature-middle {
  font-size: 140%;
}

.informer1-neon__tr:nth-child(11) .informer1-neon__td:nth-child(1) .informer1-neon__text-big,
.informer1-neon__tr:nth-child(12) .informer1-neon__td:nth-child(1) .informer1-neon__text-big,
.informer1-neon__tr:nth-child(13) .informer1-neon__td:nth-child(1) .informer1-neon__text-big {
  text-transform: uppercase;
  box-sizing: border-box;
}


















.informer1-neon__tr:nth-child(11) .informer1-neon__td:nth-child(1) {
  box-sizing: border-box;
  padding-top: 30%;
}

.informer1-neon__tr:nth-child(12) .informer1-neon__td:nth-child(1) {
  box-sizing: border-box;
  padding-top: 11%;
  padding-bottom: 13%;
}

.informer1-neon__tr:nth-child(13) .informer1-neon__td:nth-child(1) {
  box-sizing: border-box;
  padding-top: 0%;
  padding-bottom: 21%;
}

.informer1-neon__tr:nth-child(4) .informer1-neon__td:nth-child(1),
.informer1-neon__tr:nth-child(5) .informer1-neon__td:nth-child(1) {
  padding: 0;
}

.informer1-neon__tr:nth-child(10) .informer1-neon__td:nth-child(1) .informer1-neon__td-flexbox-small .informer1-neon__text-small span:nth-child(1),
.informer1-neon__tr:nth-child(10) .informer1-neon__td:nth-child(1) .informer1-neon__td-flexbox-small .informer1-neon__text-small span:nth-child(2) {
  padding-right: 2%;
}


.informer1-neon__box-small-icons {
  width: 10%;
  padding-bottom: 2%;
}

.informer1-neon__tr:nth-child(8) .informer1-neon__td:nth-child(1) .informer1-neon__td-flexbox-small .informer1-neon__box-small-icons {
  width: 9%;
}

.informer1-neon__tr:nth-child(9) .informer1-neon__td:nth-child(1) .informer1-neon__td-flexbox-small .informer1-neon__box-small-icons {
  width: 6%;
}

.informer1-neon__tr:nth-child(10) .informer1-neon__td:nth-child(1) .informer1-neon__td-flexbox-small .informer1-neon__box-small-icons {
  width: 3%;
}

.informer1-neon__box-middle-icons {
  width: 70%;
  margin: 0 auto;
}

.informer1-neon__box-big-icons {
  width: 70%;
  margin: 0 auto;
}

.informer1-neon__box-middle-icons-img {
  display: block;
  margin: 0 auto;
}