:root {
  --neon: #03ff17;
  --white: #ffffff;
  --black: #111111;
}


@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
}

body {
  font-family: "Geometria-Medium", Arial, Helvetica;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}


.informer4-table-box{
  position: relative;
  width: 50vw;
  margin: 0 auto;
}

.informer4-neon__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 50vw;
  background-color: transparent;
  margin: 0 auto;
  z-index: 2;
}

.informer4-neon {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 50vw;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  color: var(--neon);
  border-spacing: 0px;
  background-color: transparent;
  padding: 2%;
  padding-bottom: 0;
  margin: 0 auto;
  z-index: 3;
}

.informer4-neon__background-1 {
  position: absolute;
  top: -12%;
  left: -17%;
  width: 134%;
  height: 126%;
  background-image: url(./img/view-4.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  z-index: -1;
}

.informer4-neon__background-2 {
  position: absolute;
  top: 32%;
  left: 2%;
  width: 96%;
  height: 76%;
  background-image: url(./img/view-4-bg-1.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  z-index: -1;
}


.informer4-neon__td {
  width: 20%;
  line-height: 20%;
  font-size: 1vw;
}

.informer4-neon__tr {
  line-height: 30%;
}

.informer4-neon__tr .informer4-neon__td {
  background-color: transparent;
  padding: 2%;
}

.informer4-neon__tr:nth-child(1) .informer4-neon__td,
.informer4-neon__tr:nth-child(2) .informer4-neon__td,
.informer4-neon__tr:nth-child(3) .informer4-neon__td,
.informer4-neon__tr:nth-child(4) .informer4-neon__td,
.informer4-neon__tr:nth-child(5) .informer4-neon__td {
  border: none;
}

.informer4-neon__tr:nth-child(1) .informer4-neon__td:nth-child(1),
.informer4-neon__tr:nth-child(1) .informer4-neon__td:nth-child(2) {
  padding: 0;
  padding-left: 2%;
  padding-right: 2%;
}

.informer4-neon__tr:nth-child(2) .informer4-neon__td:nth-child(1),
.informer4-neon__tr:nth-child(2) .informer4-neon__td:nth-child(2) {
  padding: 0;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
}

.informer4-neon__tr:nth-child(2) .informer4-neon__td:nth-child(2) .informer4-neon__text-middle .informer4__text-font {
  text-align: right;
}

.informer4-neon__tr:nth-child(2) .informer4-neon__td:first-child {
  text-align: left;
}

.informer4-neon__tr:nth-child(2) .informer4-neon__td:last-child {
  text-align: right;
}

.informer4-neon__tr:nth-child(1) .informer4-neon__td:first-child {
  text-align: left;
}

.informer4-neon__tr:nth-child(1) .informer4-neon__td:last-child {
  text-align: right;
}

.informer4-neon__tr:nth-child(4) .informer4-neon__td:nth-child(2) {
  padding-right: 50%;
}
.informer4-neon__tr:nth-child(5) .informer4-neon__td:nth-child(3) {
  padding-right: 30%;
}

.informer4-neon__tr:nth-child(4) .informer4-neon__td,
.informer4-neon__tr:nth-child(5) .informer4-neon__td {
  font-size: 0.6vw;
  padding: 0;
  padding-left: 2%;
}

.informer4-neon__tr:nth-child(5) .informer4-neon__td {
  border-top: none;
  padding-bottom: 1%;
}

.informer4-neon__tr:nth-child(6) .informer4-neon__td:nth-child(1) {
  border-top-left-radius: 25%;
}

.informer4-neon__tr:nth-child(6) .informer4-neon__td:nth-child(4) {
  border-top-right-radius: 25%;
}

.informer4-neon__tr:nth-child(8) .informer4-neon__td:nth-child(1) {
  border-bottom-left-radius: 25%;
}

.informer4-neon__tr:nth-child(8) .informer4-neon__td:nth-child(4) {
  border-bottom-right-radius: 25%;
}

.informer4-neon__tr:nth-child(6) .informer4-neon__td,
.informer4-neon__tr:nth-child(7) .informer4-neon__td,
.informer4-neon__tr:nth-child(8) .informer4-neon__td {
  padding: 2%;
}

.informer4-neon__temperature {
  font-size: 220px;
}

.informer4-neon__text-small .informer4__text-font {
  font-size: 175%;
  word-break: nowrap;
  font-family: "Geometria-Light", Arial, Helvetica;
  text-align: left;
}

.informer4-neon__text-middle {
  font-size: 170%;
  word-break: nowrap;
}

.informer4-neon__text-big {
  font-size: 220%;
  word-break: nowrap;
}

.informer4-neon__text-small .informer4__number-font {
  font-family: "Geometria-Light", Arial, Helvetica;
  font-size: 175%;
  text-align: left;
  width: auto;
}

.informer4-neon__box-small-icons {
  width: 30%;
  min-width: 30%;
  padding-right: 5%;

  fill: var(--neon);
}

.informer4-neon__tr:nth-child(4) .informer4-neon__td:last-child .informer4-neon__box-small-icons {
  padding-right: 0;
}

.informer4-neon__tr:nth-child(5) .informer4-neon__td:last-child .informer4-neon__box-small-icons {
  width: 5%;
  padding-right: 0;
}

.informer4-neon__box-middle-icons {
  width: 100%;
  margin: 0 auto;
}

.informer4-neon__box-big-icons {
  width: 75%;
  margin: 0 auto;
}

.informer4-neon__td-flexbox-small {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.informer4__number-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
  line-height: 110%;
}

.informer4__text-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
  line-height: 110%;
}

.informer4__number-font-bold {
  font-family: "Play-Bold", Arial, Helvetica;
}

.informer4__number-font-bold {
  font-family: "Play-Bold", Arial, Helvetica;
}

.informer4__number-font-light {
  font-family: "Geometria-Light", Arial, Helvetica;
}

.shine-neon {
  text-shadow: 0 1px 0 white, -1px -1px 0 white, 0 -1px 0 white, 1px 0 0 white, -1px 0 0 white, -1px 0 0 white, 0 0 18px #03ff17;
}

.informer4-neon__tr:nth-child(8) .informer4-neon__td .informer4-neon__text-big .informer4__number-font-time {
  font-size: 160%;
}
