:root {
  --grey: #dcdcdc;
  --white: #ffffff;
  --black: #111111;
  --white: #ffffff
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/geometria/Geometria-Bold.woff") format("woff");
}


h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}


.informer5-table-box {
  position: relative;
  width: 38vw;
  margin: 0 auto;
}

.informer5-grey__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 38vw;
  background-color: transparent;
  padding: 2%;
  margin: 0 auto;
  z-index: 2;
}

.informer5-grey {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 38vw;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  color: var(--black);
  word-wrap: break-word;
  border-spacing: 0px;
  background-color: transparent;
  padding: 2%;
  margin: 0 auto;
  z-index: 3;
}

.informer5-grey__background-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 102%;
  height: 103%;
  background-image: url(./img/5-1.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  padding-bottom: 0;
  z-index: -1;
}


.informer5-grey__td {
  width: 20%;
  font-size: 1vw;
}

.informer5-grey__tr .informer5-grey__td {
  background-color: var(--light-grey-2);
  padding: 5%;
  border: 3px solid var(--dark-grey);

}

.informer5-grey__tr:nth-child(1) .informer5-grey__td:first-child,
.informer5-grey__tr:nth-child(2) .informer5-grey__td:first-child {
  border-top-left-radius: 20%;
}


.informer5-grey__tr:nth-child(1) .informer5-grey__td:last-child,
.informer5-grey__tr:nth-child(2) .informer5-grey__td:last-child {
  border-top-right-radius: 20%;
}

.informer5-grey__tr:nth-child(1) .informer5-grey__td:first-child,
.informer5-grey__tr:nth-child(2) .informer5-grey__td:first-child {
  border-bottom-left-radius: 20%;
}

.informer5-grey__tr:nth-child(1) .informer5-grey__td:last-child,
.informer5-grey__tr:nth-child(2) .informer5-grey__td:last-child {
  border-bottom-right-radius: 20%;
}

.informer5-grey__box-middle-icons {
  width: 40%;
  margin: 0 auto;
}

.informer5-grey__box-big-icons {
  width: 75%;
  margin: 0 auto;
}

.informer5-grey__text-middle {
  font-size: 220%;
  word-break: nowrap;
}

.informer5-grey__text-big {
  font-size: 130%;
  text-transform: uppercase;
}

.informer5-grey__tr:nth-child(1) .informer5-grey__td:nth-child(1) .informer5__number-font-time {
  font-size: 200%;
  font-family: "Play", Arial, Helvetica;
}

.informer5-grey__text-small {
  font-family: "Geometria-Light", Arial, Helvetica;
  font-size: 100%;
}

.informer5__number-font {
  font-family: "Play", Arial, Helvetica;
}
.informer5-grey__text-big.informer5__number-font