@import url("fonts/geometria/stylesheet.css");

body {
    font-family: 'Geometria';
    margin: 0;
    padding: 0;
    
}

.view-2-ht-1 {
    width: 925px;
    height: 630px;
    background-image: url("img/2-1.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.view-2-ht-2 {
    width: 925px;
    height: 630px;
    background-image: url("img/2-2.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.view-2-ht-3 {
    width: 925px;
    height: 630px;
    background-image: url("img/2-3.svg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.view-2-ht-content {
    box-sizing: border-box;
    width: 900px;
    height: 600px;
    margin: 15px;
}

.view-2-ht-sunrise-sunset-time {
    margin-top: 9px;
    box-sizing: border-box;
    margin-left: 32px;
    width: 470px;
    display: flex;
    justify-content: space-between;
}

.view-2-ht-sunrisetime {
    padding-left: 42.15px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    background-image: url("icons/sunrise-black.svg");
    background-position: left center;
    background-size: 31.03px 42.15px;
    background-repeat: no-repeat;

    }

.view-2-ht-sunsettime {
    
    padding-left: 42.15px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #000000;
    background-image: url("icons/sunset-black.svg");
    background-position: left center;
    background-size: 31.03px 42.15px;
    background-repeat: no-repeat;
}

.time {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    
}

.view-2-ht-content-dayofweek {
    margin-top: -37px;
    margin-left: 647px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    

}

.view-2-ht-daysweek-1 {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 507px;
    justify-content: space-between;
    margin-left: -12px;
    margin-top: 12px;
}

.view-2-ht-monday-1 {
    width: 470px;
    height: 80px;
    background-image: url("img/monday.svg");

    
}

.view-2-ht-tuesday-1 {
    background-image: url("img/Tuesday.svg");
    width: 360px;
    height: 80px;
}


.view-2-ht-wednesday-1 {
    background-image: url("img/Wednesday.svg");
    width: 315px;
    height: 80px;
}

.view-2-ht-thursday-1 {
    background-image: url("img/Thursday.svg");
    width: 315px;
    height: 80px;

}

.view-2-ht-friday-1 {
    background-image: url("img/Friday.svg");
    width: 360px;
    height: 80px;

}

.view-2-ht-saturday-1 {
    background-image: url("img/Saturday.svg");
    width: 470px;
    height: 80px;

}

.main-information-1 {
    width: 505px;
    height: 505px;
    margin-left: 325px;
    margin-top: -515px;
    z-index: 1;
    position: relative;

}


.view-2-ht-weekday {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 16px;
    color: #000000;

}

.view-2-ht-daynumber {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 20px;
    color: #000000;

}

.view-2-ht-dayimage {
    margin-left: 115px;
    margin-top: -55px;
}

.view-2-ht-dayimage img {
    width: 59px;
    height: 57px;
}

.view-2-ht-temp {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    text-transform: uppercase;
    color: #000000;
}

.view-2-ht-temp-mon {
    margin-top: -45px;
    margin-left: 250px;
}

.view-2-ht-temp-tue {
    margin-top: -55px;
    margin-left: 210px;
}

.view-2-ht-temp-wed {
    margin-top: -65px;
    margin-left: 195px;
}

.view-2-ht-temp-thu {
    margin-top: -50px;
    margin-left: 190px;
}

.view-2-ht-temp-fri {
    margin-top: -65px;
    margin-left: 210px;
}

.view-2-ht-temp-sat {
    margin-top: -75px;
    margin-left: 240px;
}

.view-2-ht-timegmt {
   
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 275px;
    margin-top: 8px;
    margin-bottom: 1px;

}

.view-2-ht-gmt {
  
    margin-left: 375px;
    margin-top: -39px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 0;
}

.main-information-inside {
    position: absolute;
    width: 460px;
    height: 420px;
    margin-left: 45px;
    z-index: 2;
}

.view-2-ht-population {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-top: 428px;
    margin-right: 30px;
    text-align: right;
    color: #000000;
}

.view-2-ht-monday-2 {
    width: 470px;
    height: 80px;
}

.view-2-ht-tuesday-2 {

    width: 360px;
    height: 80px;

}


.view-2-ht-wednesday-2 {

    width: 315px;
    height: 80px;
  
}

.view-2-ht-thursday-2 {

    width: 315px;
    height: 80px;
  

}

.view-2-ht-friday-2 {
 
    width: 360px;
    height: 80px;


}

.view-2-ht-saturday-2 {
  
    width: 470px;
    height: 80px;
    background-repeat: no-repeat;

}

.main-information-inside-2 {
    position: absolute;
    width: 460px;
    height: 420px;
  
    margin-left: 45px;

    z-index: 2;
}

.view-2-ht-selectedcity {
    position: absolute;
    right: 0;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
    background-image: url("icons/place-2-black.svg");
    background-position: left center;
    background-size: 36px 26px;
    background-repeat: no-repeat;
    margin-right: 15px;
    margin-top: 20px;
    /* text-align: right; */
    padding-left: 38px;


}

.view-2-ht-selectedcountry {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-left: 380px;
    margin-top: 65px;
    

    color: #000000;
}

.view-2-ht-selectedweather {
    width: 290px;
    height: 210px;
    /*background-image: url("icons/sun-cloud-black-big.svg");*/
    /* background-size: 209.46px 289.84px; */
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 130px;
    margin-top: -10px;
}

.view-2-ht-selectedweather img {
    margin-top: -65px;
    margin-left: 75px;
    width: 270px;
    height: 200px;
}

.view-2-ht-selectedweather p {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 75px;
    margin-top: -20px;
    margin-left: -50px;

    text-transform: uppercase;

   

}

.view-2-ht-params {
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
    
}

.view-2-ht-params ul {
    list-style-type: none;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;

}

.view-2-ht-typeofwind {
    background-image: url("icons/wind-route-b-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.view-2-ht-windspeed {
    background-image: url("icons/wind-speed-b.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.view-2-ht-degrees {
    
    background-image: url("icons/dpf-b-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.view-2-ht-wet {
    background-image: url("icons/wet-b-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.view-2-ht-pressure {
    background-image: url("icons/pressure-b-2.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.view-2-ht-dpf {
    background-image: url("icons/dpf-black.svg");
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 30px;
}

.white-font {
    color: #FFFFFF;
}

.white-icons .view-2-ht-selectedcity {
    background-image: url("icons/place-w.svg");
}
.white-icons .view-2-ht-selectedweather {
    background-image: url("icons/sun-cloud-white-big.svg");
}
.white-icons .view-2-ht-typeofwind {
    background-image: url("icons/wind-route-w-2.svg");
}
.white-icons .view-2-ht-windspeed {
    background-image: url("icons/wind-speed-w.svg");
}
.white-icons .view-2-ht-degrees {
    background-image: url("icons/dpf-w-2.svg");
}
.white-icons .view-2-ht-wet {
    background-image: url("icons/wet-w-2.svg");
}
.white-icons .view-2-ht-pressure {
    background-image: url("icons/pressure-w-2.svg");
}
.white-icons .view-2-ht-dpf {
    background-image: url("icons/dpf-white.svg");
}