:root {
  --grey: #dcdcdc;
  --white: #ffffff;
  --black: #111111;
}



/* @font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
} */

/* @font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
} */

.hidden {
  display: none;
}


body {
  font-family: "Geometria-Medium", Arial, Helvetica;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.informer3-table-box {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}

.informer3-grey__td {
  width: 6%;
  line-height: 6%;
  font-size: 2vw;
  padding: 2%;
}

.informer3-grey__tr {
  line-height: 30%;
}

.informer3-grey__background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  margin: 0 auto;
  z-index: 1;
}

.informer3-grey {
  display: inline-table;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Geometria-Medium", Arial, Helvetica;
  color: var(--black);
  white-space: pre-wrap;
  border-spacing: 0px;
  background-color: transparent;
  box-sizing: border-box;
  padding-top: 1%;
  padding-bottom: 11%;
  padding-right: 2%;
  padding-left: 2%;
  margin: 0 auto;
  z-index: 4;
}

.informer3-grey__background-1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: url(./img/view-3-1.svg);
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0%;
  z-index: 1;
}

.informer3-grey__background-2 {
  display: block;
  position: absolute;
  top: 1.3%;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
  height: 95.5%;
  background-color: transparent;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
  border-bottom-right-radius: 3vw;
  z-index: 1;
}

.informer3-grey__td {
  background-color: transparent;
  padding: 2%;
}

.informer3-grey__tr:nth-child(1) .informer3-grey__td:nth-child(1),
.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(2) {
  padding-bottom: 0;
}

.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(1),
.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(2),
.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(3){
  padding-bottom: 3%
}
.informer3-grey__tr:nth-child(1) .informer3-grey__td:nth-child(1) .informer3-grey__text-middle {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.informer3-grey__tr:nth-child(1) .informer3-grey__td:nth-child(1) .informer3-grey__text-middle .informer3__text-font {
  word-wrap: break-word;
  white-space: pre-wrap;
}



.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(1) {
  text-align: left;
}

.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(2) {
  text-align: left;
}


.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(3) {
  text-align: right;
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td,
.informer3-grey__tr:nth-child(5) .informer3-grey__td,
.informer3-grey__tr:nth-child(6) .informer3-grey__td {
  background-color: var(--grey);
  border-bottom: 0.3125em solid var(--white);
  padding-top: 0.3125em;
  padding-bottom: 5%;
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(1),
.informer3-grey__tr:nth-child(5) .informer3-grey__td:nth-child(1),
.informer3-grey__tr:nth-child(6) .informer3-grey__td:nth-child(1) {
  padding-left: 5%;
  padding-right: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(2),
.informer3-grey__tr:nth-child(5) .informer3-grey__td:nth-child(2),
.informer3-grey__tr:nth-child(6) .informer3-grey__td:nth-child(2) {
  padding-right: 0;
  padding-left: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(3),
.informer3-grey__tr:nth-child(5) .informer3-grey__td:nth-child(3),
.informer3-grey__tr:nth-child(6) .informer3-grey__td:nth-child(3) {
  padding-right: 5%;
  padding-left: 0;
  padding-top: 5%;
  padding-bottom: 5%;
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(1),
.informer3-grey__tr:nth-child(5) .informer3-grey__td:nth-child(1),
.informer3-grey__tr:nth-child(6) .informer3-grey__td:nth-child(1) {
  border-left: 0.3125em solid var(--white);
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(3),
.informer3-grey__tr:nth-child(5) .informer3-grey__td:nth-child(3),
.informer3-grey__tr:nth-child(6) .informer3-grey__td:nth-child(3) {
  border-right: 0.3125em solid var(--white);
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(1),
.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(2),
.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(3) {
  border-top: 0.3125em solid var(--white);
}


.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(1) {
  border-top-left-radius: 20%;
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(3) {
  border-top-right-radius: 20%;
}


.informer3-grey__tr:nth-child(3) .informer3-grey__td {
  font-size: 0.6vw;
  max-width: 20%;
  min-width: 20%;
  padding: 0;
  padding-bottom: 2%;
  padding-top: 2%;
}

.informer3-grey__tr:nth-child(3) .informer3-grey__td:first-child {
  padding-left: 2%;
  padding-right: 0;
}

.informer3-grey__tr:nth-child(3) .informer3-grey__td:last-child {
  padding-right: 2%;
}

.informer3-grey__tr:nth-child(3) .informer3-grey__td {
  padding-right: 2%;
}

.informer3-grey__temperature {
  font-size: 345%;
}

.informer3-grey__text-middle .informer3__text-font {
  font-size: 220%;
  font-family: "Geometria-Light", Arial, Helvetica;
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(2) .informer3-grey__text-middle,
.informer3-grey__tr:nth-child(5) .informer3-grey__td:nth-child(2) .informer3-grey__text-middle,
.informer3-grey__tr:nth-child(6) .informer3-grey__td:nth-child(2) .informer3-grey__text-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}


.informer3-grey__text-big {
  white-space: pre-line;
  font-size: 165%;
}

.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(2) .informer3-grey__text-middle .informer3__text-font {
  font-size: 165%;
  padding-bottom: 66%;
}

.informer3-grey__tr:nth-child(2) .informer3-grey__td:nth-child(2) .informer3-grey__text-middle {
  justify-content: center;
}


.informer3-grey__text-big .informer3__text-font {
  white-space: pre-line;
  font-size: 120%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.informer3-grey__tr:first-child .informer3-grey__td:first-child .informer3-grey__text-big .informer3-grey__temperature {
  font-size: 220%;
}


.informer3__number-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
  line-height: 110%;
}

.informer3__text-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Geometria-Medium", Arial, Helvetica;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 110%;
}

.informer3-grey__text-middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.informer3-grey__text-small {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  white-space: nowrap;
}

.informer3-grey__text-small .informer3__text-font {
  font-family: "Geometria-Light", Arial, Helvetica;
  font-size: 300%;
  text-align: left;
  padding-left: 2%;
  white-space: nowrap;
}

.informer3-grey__text-small .informer3__number-font {
  white-space: nowrap;
  font-size: 300%;
  text-align: left;
}

.informer3-grey__text-middle .informer3__number-font {
  text-align: center;
}

.informer3__number-font-bold {
  font-family: "Play-Bold", Arial, Helvetica;
}

.informer3__number-font-bold {
  font-family: "Play-Bold", Arial, Helvetica;
}

.informer3-grey__td-icons {
  padding-bottom: 0;
}

.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(1) .informer3-grey__text-big,
.informer3-grey__tr:nth-child(4) .informer3-grey__td:nth-child(1) .informer3-grey__text-big,
.informer3-grey__tr:nth-child(5) .informer3-grey__td:nth-child(1) .informer3-grey__text-big,
.informer3-grey__tr:nth-child(5) .informer3-grey__td:nth-child(1) .informer3-grey__text-big,
.informer3-grey__tr:nth-child(6) .informer3-grey__td:nth-child(1) .informer3-grey__text-big,
.informer3-grey__tr:nth-child(6) .informer3-grey__td:nth-child(1) .informer3-grey__text-big {
  text-align: left;
}

.informer3-grey__box-small-icons {
  width: 3vw;
  min-width: 3vw;
  padding-right: 2%;
}

.informer3-grey__box-small-icons svg {
  height: 4em;
  min-width: 5em;
}



.informer3-grey__box-big-icons {
  width: 60%;
  margin: 0 auto;
}

.informer3-grey__box-middle-icons {
  width: 60%;
}

.informer3-grey__box-middle-icons-img {
  display: block;
  width: 60%;
  float: right;
}


.informer3-grey__td-flexbox-small {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.informer3-grey__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.informer3-grey__td-flexbox-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informer3-grey__tr:nth-child(1) .informer3-grey__td:nth-child(2) .informer3-grey__text-big {
  text-align: center;
}

.informer3-grey__tr:nth-child(1) .informer3-grey__td:nth-child(2) .informer3-grey__text-big .informer3__text-font {
  white-space: pre-line;
  font-size: 120%;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}


.informer3-grey__tr:nth-child(3) .informer3-grey__td:nth-child(1) .informer3-grey__td-flexbox-small .informer3-grey__text-small .informer3__text-font {
  white-space: pre-wrap;
  /* white-space: normal; */
}

.informer3-grey__tr:nth-child(3) .informer3-grey__td:nth-child(1) .informer3-grey__td-flexbox-small .informer3-grey__text-small {
  word-wrap: break-word;
  white-space: pre-wrap;
  flex-grow: 3;
}
