:root {
  --grey: #dcdcdc;
  --white: #ffffff;
  --black: #111111;
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.informer7-table-box {
  position: relative;
  width: 90vw;
  margin: 0 auto;
}

.informer7-grey__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 90vw;
  background-color: transparent;
  margin: 0 auto;
  z-index: 1;
}

.informer7-grey {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 90vw;
  font-family: 'Geometria-Medium', Arial, Helvetica;
  text-align: center;
  color: var(--black);
  border-spacing: 0px;
  white-space: pre-line;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0 auto;
  z-index: 100;
}

.informer7-grey__background-1 {
  position: absolute;
  top: -2%;
  left: -2%;
  width: 104%;
  height: 104%;
  background-image: url(./img/7-1.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 0;
  z-index: -1;
}

.informer7-grey__background-2 {
  position: absolute;
  top: 50%;
  left: 48%;
  width: 52%;
  height: 50%;
  background-image: url(./img/border-botton.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.informer7-grey__background-3 {
  position: absolute;
  top: 25%;
  left: 48%;
  width: 52%;
  height: 50%;
  background-image: url(./img/border.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.informer7-grey__background-4 {
  position: absolute;
  top: 0%;
  left: 48%;
  width: 52%;
  height: 50%;
  transform: scale(1, -1);
  background-image: url(./img/border-botton.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.informer7-grey__td {
  background-color: transparent;
  line-height: 20%;
  font-size: 1vw;
  width: 15%;
}

.informer7-grey__tr {
  line-height: 30%;
}

.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(1) {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  border-left: 1px solid var(--grey);
  background-color: var(--white);
}

.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(5) {
}

.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(2) {
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  background-color: var(--white);
}

.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(3) {
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
  border-right: 1px solid var(--grey);
  border-top: 1px solid var(--grey);
  border-bottom: 1px solid var(--grey);
  background-color: var(--white);

}

.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(4) {
  text-align: right;
}

.informer7-grey__tr:nth-child(2) .informer7-grey__td:nth-child(1) {
  text-align: right;
}

.informer7-grey__tr:nth-child(2) .informer7-grey__td:nth-child(2) {
}

.informer7-grey__tr:nth-child(2) .informer7-grey__td:nth-child(3) {
  text-align: left;
}

.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(6) {
  text-align: left;
}

.informer7-grey__tr:nth-child(3) .informer7-grey__td:nth-child(1) {
  text-align: right;
}

.informer7-grey__tr:nth-child(3) .informer7-grey__td:nth-child(2) {
  text-align: center;
}

.informer7-grey__tr:nth-child(3) .informer7-grey__td:nth-child(3) {
  text-align: left;
}

.informer7-grey__td-flexbox-small {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(6) .informer7-grey__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}


.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(4) .informer7-grey__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.informer7-grey__td-flexbox-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informer7-grey__box-small-icons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  width: 9%;
  padding-right: 2%;
  fill: var(--black);
}

.informer7-grey__box-middle-icons {
  width: 35%;
  margin: 0 auto;
}

.informer7-grey__box-big-icons {
  width: 75%;
  margin: 0 auto;
  margin-top: 2%;
}

.informer7-grey__text-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  white-space: pre-line;
  vertical-align: middle;
}

.informer7-grey__number-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
}


.informer7-grey__text-small {
  font-size: 1vw;
  text-align: left;
  line-height: 80%;
}

.informer7-grey__number-small {
  font-size: 1vw;
  text-align: left;
}

.informer7-grey__text-middle {
  font-size: 2vw;
  text-transform: uppercase;
}

.informer7-grey__number-middle {
  font-size: 2vw;
}

.informer7-grey__number-big {
  font-family: "Play-Bold", Arial, Helvetica;
  font-size: 4vw;
}

.informer7-grey__number-big-1 {
  font-family: "Play-Bold", Arial, Helvetica;
  font-size: 5vw;
}

.informer7-grey__number-big-2 {
  font-family: "Play", Arial, Helvetica;
  font-size: 3vw;
  padding-bottom: 3%;
}

.informer7-grey__tr:nth-child(1) .informer7-grey__td:nth-child(1) .informer7-grey__td-flexbox-big .informer7-grey__text-middle:nth-child(1) {
  font-family: "Geometria-Light", Arial, Helvetica;
}

.informer7-grey__td-flexbox-big .informer7-grey__text-middle,
.informer7-grey__td-flexbox-big .informer7-grey__number-big,
.informer7-grey__td-flexbox-big .informer7-grey__number-big-1,
.informer7-grey__td-flexbox-big .informer7-grey__number-big-2 {
  line-height: 80%;
}

.informer7-grey__td-flexbox-big .informer7-grey__number-big {
  padding-bottom: 3%;
}

.informer7-grey__td-flexbox-big .informer7-grey__text-middle {
  padding-top: 3%;
}