:root {
  --grey: #dcdcdc;
  --white: #ffffff;
  --black: #111111;
  --white: #ffffff
}

@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play"),
    url("./fonts/Play/Play-Regular.woff") format("woff");
}

@font-face {
  font-family: "Play-Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Play-Bold"),
    url("./fonts/Play/Play-Bold.woff") format("woff");
}

@font-face {
  font-family: "Geometria-Light";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Light"),
    url("./fonts/Geometria/Geometria-Light.woff") format("woff");
}


@font-face {
  font-family: "Geometria-Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Geometria-Medium"),
    url("./fonts/Geometria/Geometria-Medium.woff") format("woff");
}

@font-face {
  font-family: "Geometria-bold";
  font-style: normal;
  font-weight: 900;
  src: local("Geometria-bold"),
    url("./fonts/Geometria/Geometria-Bold.woff") format("woff");
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.informer8__table-box {
  position: relative;
  width: 90vw;
  margin: 0 auto;
}

.informer8-grey__background {
  position: sticky;
  top: 0;
  left: 0;
  width: 90vw;
  background-color: var(--dark-grey);
  padding: 2%;
  margin: 0 auto;
  z-index: 2;
  }


.informer8-grey {
  display: inline-table;
  position: sticky;
  top: 0;
  left: 0;
  width: 90vw;
  font-family: "Geometria-Medium", Arial, Helvetica;
  text-align: center;
  color: var(--black);
  white-space: pre-line;
  border-spacing: 0px;
  background-color: transparent;
  border: 2px solid var(--white);
  padding: 0;
  margin: 0 auto;
  z-index: 3;
}
  
.informer8-grey__background-1 {
  position: absolute;
  top: -14%;
  left: -2%;
  width: 101%;
  height: 136%;
  box-sizing: border-box;
  background-image: url(./img/8-main.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}


.informer8-grey__background-2 {
  position: absolute;
  top: 32%;
  left: 30%;
  width: 106%;
  height: 36%;
  background-image: url(./img/vectors.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.informer8-grey__background-3 {
  position: absolute;
  top: 0%;
  left: -16%;
  width: 100%;
  height: 106%;
  background-image: url(./img/v-8-1.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.informer8-grey__td {
  line-height: 20%;
  font-size: 1vw;
  width: 12.8%;
}

.informer8-grey__tr {
  line-height: 30%;
}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(1) {
  width: 20%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  border: 10px solid var(--dark-grey);
  border-left: none;
}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(1) .informer8-grey__box-small-icons  {
  display: inline-block;
  text-align: center;
}


.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(4) {
  width: 20%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  border: 10px solid var(--dark-grey);
  border-left: none;
}


.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(4) {
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  border: 10px solid var(--dark-grey);
  border-left: none;
}

.informer8-grey__tr:nth-child(2) .informer8-grey__td:nth-child(1) {
  border: 10px solid var(--dark-grey);
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: right;
}

.informer8-grey__tr:nth-child(2) .informer8-grey__td:nth-child(2) {
  border: 10px solid var(--dark-grey);
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: center;
}

.informer8-grey__tr:nth-child(2) .informer8-grey__td:nth-child(3) {
  border: 10px solid var(--dark-grey);
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: left;
}


.informer8-grey__tr:nth-child(3) .informer8-grey__td:nth-child(1) {
  text-align: right;
}

.informer8-grey__tr:nth-child(3) .informer8-grey__td:nth-child(2) {
  text-align: center;
}

.informer8-grey__tr:nth-child(3) .informer8-grey__td:nth-child(3) {
  border: 10px solid var(--dark-grey);
  border-bottom-right-radius: 30%;
  border-left: none;
  border-top: none;
  text-align: left;
}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(5) {
  border: 10px solid var(--dark-grey);
  border-top: none;
  border-right: none;
  border-left: none;
  text-align: right;

}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(6) {
  border: 10px solid var(--dark-grey);
  border-top: none;
  border-right: none;
  border-left: none;
}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(7) {
  border-top-right-radius: 30%;
  border: 10px solid var(--dark-grey);
  border-left: none;
  border-top: none;
  text-align: left;
}

.informer8-grey__td-flexbox-small {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(6) .informer8-grey__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}


.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(4) .informer8-grey__td-flexbox-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.informer8-grey__td-flexbox-big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.informer8-grey__box-small-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 9%;
  padding-right: 2%;
  fill: var(--black);
}

.informer8-grey__box-middle-icons {
  width: 35%;
  margin: 0 auto;
}

.informer8-grey__box-big-icons {
  width: 75%;
  margin: 0 auto;
  margin-top: 2%;
}

.informer8-grey__text-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Geometria-Light", Arial, Helvetica;
  text-align: left;
  white-space: pre-line;
  vertical-align: middle;
}

.informer8-grey__number-font {
  display: inline-block;
  width: auto;
  height: 100%;
  font-family: "Play", Arial, Helvetica;
  text-align: left;
  vertical-align: middle;
}


.informer8-grey__text-small {
  font-size: 110%;
  text-align: left;
  line-height: 80%;
}

.informer8-grey__number-small {
  font-size: 110%;
  text-align: left;
  line-height: 90%;
}

.informer8-grey__text-middle {
  font-size: 2vw;
  text-transform: uppercase;
  line-height: 100%;
}

.informer8-grey__number-middle {
  font-size: 2vw;
}

.informer8-grey__number-big {
  font-family: "Play", Arial, Helvetica;
  font-size: 5vw;
  line-height: 100%;
}

.informer8-grey__number-big-1 {
  font-family: "Play", Arial, Helvetica;
  font-size: 4vw;
  line-height: 100%;
}

.informer8-grey__number-big-2 {
  font-family: "Play", Arial, Helvetica;
  font-size: 3vw;
  padding-bottom: 3%;
  line-height: 100%;
}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(1) .informer8-grey__td-flexbox-big .informer8-grey__text-middle:nth-child(1) {
  font-family: "Geometria-Light", Arial, Helvetica;
}

.informer8-grey__td-flexbox-big .informer8-grey__number-big {
  padding-bottom: 3%;
}

.informer8-grey__td-flexbox-big .informer8-grey__text-middle {
  padding-top: 3%;
}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(4) .informer8-grey__td-flexbox-small:nth-child(2) .informer8-grey__box-small-icons {
  min-width: 10%;
}

.informer8-grey__tr:nth-child(1) .informer8-grey__td:nth-child(1) .informer8-grey__text-small {
  text-align: center;
}